.bx-basket-item-list {
	display: none;
	height: auto;
	width: 400px;
	position: relative;
	right: -25px;
	z-index: 9999;
	background: #fff;
	top: -5px;
}

/*//////////////////////////////////////////////////////////////////////////*/

.bx-basket {}
/*.bx-basket-block {*/
	/*font-size: 12px;*/
	/*padding-bottom: 5px;*/
	/*white-space: nowrap;*/
	/*position: relative;*/
	/*padding-left: 20px;*/
/*}*/
.bx-basket-block>.fa {
	color: #97a1ab;
	width: 12px;
	position: absolute;
	left: 0;
	top: 3px;
}
.bx-basket-block a {
	color: #039BE5;
	border-bottom: 1px dashed;
	margin-right: 10px;
}
.bx-basket-block a:hover {
	text-decoration: none;
	border-bottom-color: transparent;
}


/*FIXED BASKET*/

@media (min-width: 768px) {
	.bx-basket-fixed{
		width: 200px;
		position: fixed;
		z-index: 998;
		background: #fff;
		padding-top: 10px;
		border: 1px solid #F0F0F0;
		box-shadow: 0 7px 10px rgba(0, 0, 0, 0.15);
		border-radius: 1px;
		overflow: hidden;
	}
	.bx-basket-fixed.top	  {top:10px}
	.bx-basket-fixed.right  {right:10px}
	.bx-basket-fixed.bottom{bottom:10px}
	.bx-basket-fixed.left	 {left:10px}
	.bx-basket-fixed.bx-max-height{top:10px;bottom:10px;}
}
@media (max-width: 767px) {
	.bx-basket-fixed{
		/*width: 200px;*/
		position: fixed;
		z-index: 998;
		background: #fff;
		padding-top: 10px;
		border: 1px solid #F0F0F0;
		box-shadow: 0 7px 10px rgba(0, 0, 0, 0.15);
		border-radius: 1px;
		overflow: hidden;
		bottom: 0;
		left: 0;
		right: 0;
	}
	.bx-basket-item-list{
		display: none;
	}
	/*.bx-basket-fixed */
}
.bx-basket-fixed .bx-basket-block{
	margin-left: 10px;
}
.bx-basket-item-list{
	position: relative;
	/*padding-bottom: 20px;*/
	border-top: 1px solid #F7F7F7;
	overflow: hidden;
}
.bx-opener .bx-basket-item-list{
	-padding-bottom: 75px;
}
.bx-max-height .bx-basket-item-list{
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
}
.bx-closed .bx-basket-item-list{
	height: 20px;
	overflow: hidden;
}
.bx-basket-item-list-action{
	cursor: pointer;
	background: #F7F7F7;
	position: absolute;
	bottom: 0;
	right: 0;
	left: 0;
	z-index: 120;
	height: 20px;
	line-height: 14px;
	vertical-align: middle;
	text-align: center;
	font-size: 12px;
	color: #4f4f4f;
	padding: 3px 0;
}
.bx-basket-item-list-button-container {
	text-align: center;
	border-top: 1px solid #F7F7F7;
	background: #fff;
}

.bx-basket-item-list-button-container .prise_box {
	display: block;
	float: left;
	/*width: 50%;*/
	/*height: 70px;*/
	color: #1e1e1e !important;
	/*font-size: 24px;*/
	/*padding: 25px 0;*/
	cursor: default;
	width: 60%;
	height: 50px;
	padding: 15px 0;
	font-size: 20px;
}

.bx-basket-item-list-button-container .prise_box span.bold {
	font-weight: bold;
}

.bx-basket-item-list-button-container a.btn {
	display: block;
	float: left;
	/*width: 50%;*/
	/*height: 70px;*/
	text-decoration: none;
	background: linear-gradient(#f1c449, #e8ac0a) no-repeat 100% 0;
	position: relative;
	/*font-size: 18px;*/
	text-transform: uppercase;
	font-weight: bold;
	/*padding: 25px 0;*/
	transition: .3s ease-in-out;
	border: none;
	border-radius: 0;
	height: 50px;
	line-height: 50px;
	padding: 0;
	width: 40%;
	font-size: 16px;
}

.bx-basket-item-list-button-container a.btn span {
	display: block;
	position: relative;
	z-index: 10;
}

.bx-basket-item-list-button-container a.btn:before {
	content: '';
	width: 100%;
	height: 100%;
	display: block;
	position: absolute;
	z-index: 0;
	top: 0;
	left: 0;
	opacity: 0;
	background: linear-gradient(#e8ac0a, #f1c449) 100% 0 no-repeat;
	transition: .2s ease-out;
}

.bx-basket-item-list-button-container a.btn:hover:before,
.bx-basket-item-list-button-container a.btn:active:before {
	opacity: 1;
}

.bx-basket-item-list-button-container a.btn:active:before{
	/*background: linear-gradient(#f1c449, #f1c449) 100% 0 no-repeat;*/
	filter: brightness(95%);
}

.bx-basket-item-list-button-container a.btn:hover,
.bx-basket-item-list-button-container a.btn:active {
	color: #ffffff;
}

.bx-basket-item-list-container{
	overflow-y: scroll;
	max-height: 220px;
}

.bx-basket-item-list-container::-webkit-scrollbar {
	width: 3px;
	background-color: #cacaca;
}
.bx-basket-item-list-container::-webkit-scrollbar-thumb {
	background-color: #5880ac;
}

.bx-basket-item-list-item{
	position: relative;
	padding: 15px;
	padding-right: 30px;
	border-bottom: 1px solid #F7F7F7;
}

.bx-basket-item-list-item:hover .bx-basket-item-list-item-img{
	box-shadow: -1px 0 10px 0 rgba(0,0,0,.2);
}

.bx-basket-item-list-item:hover .bx-basket-item-list-item-name a{
	color: #365d88 !important;
}

.bx-basket-item-list-item:active .bx-basket-item-list-item-name a{
	color: #23476f !important;
}

.bx-basket-item-list-container .bx-basket-item-list-item:last-child{
	border-bottom: none;
	margin-bottom: 0;
}
.bx-basket-item-list-item-status{
	font-weight: bold;
	padding: 3px;
	background: #EBEBEB;
	margin: 0 10px 20px;
	line-height: 16px;
	font-size: 13px;
	border-radius: 3px;
	text-align: center;
	white-space: normal;
}
.bx-basket-item-list-item-img {
	display: table-cell;
	vertical-align: middle;
	width: 80px;
	height: 80px;
	text-align: center;
	position: relative;
	overflow: hidden;
	border: 1px solid #E6E6E6;
	transition: ease-out .3s;
}

.bx-basket-item-list-item-img a {
	display: table-cell;
	vertical-align: middle;
	width: 80px;
	height: 80px;
}
.bx-basket-item-list-item-img img{
	vertical-align: middle;
}
.bx-basket-item-list-item-name {
	display: table-cell;
	vertical-align: middle;
	width: 245px;
	height: 80px;
	padding-left: 15px;
}
.bx-basket-item-list-item-name a
{
	font-size: 12px;
	color: #5880ac !important;
	text-decoration: none;
	white-space: normal;
	line-height: 14px;
}
.bx-basket-item-list-item-remove{
	position: absolute;
	right: 10px;
	top: 0;
	bottom: 0;
	margin: auto;
	width: 10px;
	height: 10px;
	cursor: pointer;
	background-image: url(../../../../images/icons/cross-remove.svg);
	background-repeat: no-repeat;
	-webkit-background-size: cover;
	background-size: cover;
	background-position: center;
	opacity: .5;
	transition: ease-out .3s;
}
.bx-basket-item-list-item-remove:hover{
	opacity: 1;
}

.bx-basket-item-list-item-remove:active{
	transform: scale(.8);
}

.bx-basket-item-list-item-price-block{
	display: table-cell;
	vertical-align: middle;
	font-size: 12px;
	width: 105px;
	height: 80px;
	background-color: #f6f6f6;
	position: relative;
}
.bx-basket-item-list-item-price{
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.bx-basket-item-list-item-price strong {
	font-size: 18px;
	font-weight: bold;
	color: #1e1e1e;
}

.bx-basket-item-list-item-price-old{
	display: inline-block;
	margin-right: 5px;
	text-decoration: line-through;
	color: #B0B0B0;
	position: absolute;
	bottom: 5px;
	text-align: center;
	width: 100%;
}
.bx-basket-item-list-item-price-summ{
	display: none;
}

.bx_cart_login_top .bx-hdr-profile a {
	text-decoration: none;
}
.bx_cart_login_top .bx-hdr-profile{
	line-height: 1.44em;
}

.bx-basket .bx-basket-item-list {
	top: 50px;
	right: -10px;
	position: absolute;
	width: 500px;
	box-shadow: 0 5px 10px #cacaca;
	text-align: left;
}

/*.bx-basket-item-list {*/
	/*padding-bottom: 0;*/
/*}*/
