/*.brend_spisok_element_box  {*/
     /*width: 200px;*/
     /*display: inline-block;*/
     /*margin: 15px;*/
     /*text-align: center;*/
 /*}*/

.brend_spisok_box {
    padding-top: 10px;
}

.brend_spisok_element_box .img_box{
    width: 200px;
}

.brend_spisok_element_box .img_box img,
.brend_spisok_block .brend_spisok_alfavit .alfavit {
    width: 100%;
}

.brend_spisok_block .brend_spisok_alfavit .title {
    font-size: 14px;
    margin-bottom: 20px;
}

.brend_spisok_block .brend_spisok_alfavit .alfavit .alfavit__item {
    display: block;
    float: left;
    width: 40px;
    text-align: center;
    border: 1px solid #8ab75a;
    color: #8ab75a;
    margin-right: 8px;
    margin-bottom: 10px;
}
/*.brend_spisok_block .brend_spisok_alfavit .alfavit .alfavit__item:nth-child(9n) {*/
    /*margin-right: 0;*/
/*}*/
.brend_spisok_block .brend_spisok_alfavit .alfavit .alfavit__item:hover {
    /*background-color: rgba(138, 183, 90, .2);*/
    background-color: #8ab75a;
    color: #fff;
}

.brend_spisok_block .brend_spisok_alfavit .alfavit .alfavit__item:active {
    background-color: #7aa54c;
}


.brend_spisok_block .brend_spisok_alfavit .alfavit .active,
.brend_spisok_block .brend_spisok_alfavit .alfavit .active:hover{
    background-color: #8ab75a;
    color: #fff;
    cursor: default;
}

.brend_spisok_element_block {
    padding-top: 20px;
}

.brend_spisok_element_block:after,
.brend_spisok_element_block:before {
    content: '';
    display: table;
    clear: both;
}

.brend_spisok_element_block .brend_spisok_element_box {
    display: block;
    float: left;
    width: 15%;
    height: auto;
    padding: 10px;
    margin-right: 2%;
    margin-bottom: 25px;
    border: 1px solid #edf5ff;
    text-align: center;
    transition: .3s ease-out;
}

.brend_spisok_element_block .brend_spisok_element_box:hover {
    /*border-color: #6290c3;*/
    box-shadow: -1px 0 10px 0 rgba(0,0,0,.2);
}

.brend_spisok_element_block .brend_spisok_element_box:hover .img_box .bg_img {
    transform: scale(1.05);
}

.brend_spisok_element_block .brend_spisok_element_box:active .img_box .bg_img {
    transform: scale(1.03);
}

.brend_spisok_element_block .brend_spisok_element_box:hover .name .brand {
    color: #365d88;
}

.brend_spisok_element_block .brend_spisok_element_box:active .name .brand {
    color: #23476f;
}

.brend_spisok_element_block .brend_spisok_element_box .img_box {
    width: 100%;
    height: 110px;
    margin: 0 auto;
}

.brend_spisok_element_block .brend_spisok_element_box .img_box .bg_img {
    display: block;
    width: 100%;
    height: 100%;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    transition: ease-out .3s;
}

.brend_spisok_element_block .brend_spisok_element_box:nth-child(6n) {
    margin-right: 0;
}
.brend_spisok_element_block .brend_spisok_element_box .name {
    height: 100px;
    padding-top: 15px;
    font-size: 14px;
}

.brend_spisok_element_block .brend_spisok_element_box .name .brand {
    color: #6290c3;
    font-weight: bold;
    text-transform: uppercase;
    transition: ease-out .3s;
}

.brend_spisok_element_block .brend_spisok_element_box .name .country {
    color: #1e1e1e;
}