.section_in_glav .title_box {
    font-size: 18px;
    text-align: center;
}

.category-block {
    text-align: center;
}

.category-block a.category-item {
    display: inline-block;
    vertical-align: top;
    width: 9.5%;
    color: #5880ac;
}

.category-item:hover .category-item-img .img-box {
    transform: translateY(-5px) scale(1.2);
}

.category-item:active .category-item-img .img-box {
    transform: translateY(-5px) scale(1.15);
}

.category-item:hover .title {
    color: #365d88;
}

.category-item:active .title {
    color: #23476f;
}

.category-block .category-item-img {
    border-radius: 50%;
    padding: 15px;
}

.category-block .category-item-img .img-box {
    border-radius: 50%;
    position: relative;
    width: 100%;
    padding-top: 100%;
    height: 0;
    transition: ease-out .3s;
}

.category-block .category-item-img .img-box .img {
    border-radius: 50%;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

.category-block a.category-item .title {
    line-height: normal;
    transition: ease-out .3s;
}
