a.search-page-params {
	border-bottom: 1px dashed blue;
	text-decoration: none;
}
div.search-page-params {
	margin-top: 6px;
}

.search_page-form {
	margin: 25px 0;
}

.search-item-rate {font-size: 11px;}

.search-language-guess {
	font-size: 16px;}

.search_input-box {
	position: relative;
	width: 100%;
	border: 1px solid #cacaca;
	height: 40px;
}

.search_input-box .search_input {
	border: none;
	width: 80%;
	height: 100%;
	padding: 0 10px;
	font-size: 14px;
	outline: none;
}

.btn_search-go {
	cursor: pointer;
	height: 40px;
	width: 40px;
	display: inline-block;
	vertical-align: middle;
}

.btn_search-go input {
	height: 100%;
	width: 100%;
	background-color: transparent;
	background-repeat: no-repeat;
	background-size: 20px;
	background-position: center;
	border: 0;
	outline: 0;
	padding: 0;
	opacity: .5;
	-webkit-transition: .3s ease;
	transition: .3s ease;
	cursor: pointer;
	font-size: 0;
}

.btn_search-go input:hover {
	opacity: 1;}

.jq-selectbox.where_search {
	display: inline-block;
	vertical-align: middle;
	width: 15%;
	height: 38px;
}

.jq-selectbox.where_search .jq-selectbox__select {
	height: 38px;
	border-width: 0 1px;
	margin-top: -1px;
}

.jq-selectbox.where_search .jq-selectbox__select-text {
	line-height: 38px;
}

.jq-selectbox.where_search .jq-selectbox__dropdown {
	border-top: 1px solid #cacaca;}

.search-page .catalog_section_option_bolock {
	margin-bottom: 25px;}

.search-page .catalog_section_option_bolock .sorting a.per_count,
.search-page .catalog_section_option_bolock .sorting a.per_option {
	padding: 5px 10px;}

.search_result-item {
	margin-bottom: 10px;}

.search_result-item-box {
	border: 1px solid #cacaca;
	padding: 10px 15px;
}

.search_result-date {
	display: none;}

a.search_result-title-link, .search_result-path a {
	color: #6290c3;
}

.search_result-path {
	margin-top: 10px;}

a.search_result-title-link {
	display: block;
	margin-bottom: 10px;
	height: 24px;
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
	font-size: 16px;
}

a.search_result-title-link:hover {
	color: #365d88;
}

.search_result-box {
	margin: 25px 0;
}
