.news_in_glav .news-item {
    background-color: #ececec;
    margin-bottom: 30px;
}

.news_in_glav .news-item .left {
    float: left;
    width: 50%;
}

.news_in_glav .news-item .right {
    float: right;
    width: 50%;
}

.news_in_glav .news-item .news-item-img .img_box {
    position: relative;
    width: 100%;
    height: 0;
    padding-top: 65%;
}

.news_in_glav .news-item .news-item-img .img_box .preview_picture {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.news_in_glav .news-item .right .img_box .preview_picture {
    background-position: right center;
}

.news_in_glav .news-item .left .img_box .preview_picture {
    background-position: left center;
}

.news_in_glav .news-item .text_box {
    padding: 30px;
}

.news_in_glav .news-item .text_box.left {
    padding-left: 80px;
}

.news_in_glav .news-item .text_box.right {
    padding-right: 80px;
}

.news_in_glav .news-item .text_box .title_box {
    font-size: 36px;
    margin-bottom: 15px;
}

.news_in_glav .news-item .text_box .text {
    font-size: 16px;
    max-height: 220px;
    overflow: hidden;
    margin-bottom: 10px;
}

.news_in_glav .news-item .text_box .link_box a {
    color: #6290c3;
    font-size: 20px;
    float: right;
    display: block;
}

.news_in_glav .news-item .text_box .link_box a.detail {
    float: left;
}

.news_in_glav .news-item .text_box .link_box a:hover,.news_in_glav .news-item .text_box .link_box a:active {
    /*text-decoration: underline;*/
    color: #365d88;
}
