.brend_collection_top_block > div{
    display: inline-block;
    vertical-align: top;
}

.brend_collection_top_block .title_box {
    width: 89%;
}

.brend_collection_top_block .img_box {
    width: 10%;
}

.brend_collection_top_block .img_box img {
    width: 100%;
}

.brend_collection_top_block {
    margin: 15px 0;
    position: relative;
}

.brend_collection_top_block h1 {
    padding-top: 0;
}

.brend_collection_top_block .text_box {
    display: inline-block;
    vertical-align: top;
    width: 80%;
    margin-right: 1.5%;
}

.brend_collection_top_block .c-elem {
    display: inline-block;
    vertical-align: top;
    width: 18%;
}

/*.brend_collection_top_block .c-elem .img_box .bg_img {*/
    /*background-position: right;*/
/*}*/


