/* label_block catalog.item */

/*ополнительный товар дополнительного товара*/

.box__element_ocn_block .doprectovar-list  .mego_box  {
    margin-left: 40px;
}

/*.box__element_ocn_block .doprectovar-list  .mego_box > .section_name {*/
    /*display: block !important;*/
    /*border: 0px !important;*/
/*}*/

.box__element_ocn_block .doprectovar-list  .mego_box .doptovarbox {
    margin-left: 0px;
}

 /*.content_hiden_block  .complect_slaider_box {*/
    /*height: 130px !important;*/
/*}*/

/* подбореи слева */

.left_podborki_block ul {
    margin-bottom: 20px;
    padding-left: 20px;
}

.left_podborki_block ul.blue {
    border-left: 2px solid #6290c3;
}

.left_podborki_block ul.red {
    border-left: 2px solid red;
}

.left_podborki_block ul.green {
    border-left: 2px solid green;
}

/*Вы смртрели на странице раздела*/

/*.prosmotr-carousel-section {*/
    /*position: relative;*/
/*}*/

/*.prosmotr-carousel-section h3 {*/
    /*font-size: 18px;*/
    /*font-weight: 700;*/
    /*text-transform: uppercase;*/
    /*margin: 0 auto 35px;*/
    /*text-align: center;*/
    /*max-width: 700px;*/
/*}*/

/*.prosmotr-carousel-section .product-carousel-nav-section{*/
    /*position: absolute;*/
    /*top: -2px;*/
    /*right: 0;*/
/*}*/

/*.prosmotr-carousel-section .product-item-container {*/
    /*height: 250px;*/
/*}*/

/*.prosmotr-carousel-section .product-carousel-nav-section .slick-prev {*/
    /*background: url(images/icons/slider_arrow_left.svg) center center no-repeat;*/
    /*background-size: 22px;*/
    /*margin-right: 15px;*/
/*}*/

/*.prosmotr-carousel-section .product-carousel-nav-section .slick-next {*/
    /*background: url(images/icons/slider_arrow_right.svg) center center no-repeat;*/
    /*background-size: 22px;*/
/*}*/

/*.prosmotr-carousel-section .product-carousel-nav-section  .slick-arrow {*/
    /*width: 30px;*/
    /*height: 30px;*/
    /*float: left;*/
    /*border: 0;*/
    /*color: transparent;*/
    /*font-size: 0;*/
    /*outline: 0;*/
    /*-webkit-user-select: none;*/
    /*-moz-user-select: none;*/
    /*-ms-user-select: none;*/
    /*user-select: none;*/
    /*cursor: pointer;*/
    /*padding: 0;*/
/*}*/

/*Ибраное значек в каталоге*/

.select_text {
    background-color: #f6f6f6;
    padding: 20px 20px 20px 25px;
    position: relative;
    margin: 15px 0;
}
.select_text:before {
    content: " ";
    display: block;
    width: 4px;
    background-color: #cacaca;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}
.select_text_blue {
    background-color: #edf5ff;
    padding: 20px 20px 20px 25px;
    position: relative;
    margin: 15px 0;
}
.select_text_blue:before {
    content: " ";
    display: block;
    width: 4px;
    background-color: #6290c3;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}
.static_page ol {
    counter-reset:myCounter;
    margin-left:0;
    padding-left:5px;
    color: rgb(100,100,100);
}

.static_page li {
    position: relative;
    padding-left: 3em;
    margin: 0.45em 0;
    list-style: none;
    line-height: 1.8em;
    cursor: pointer;
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}
.static_page ul li{
    padding-left: 2em;
}
.static_page li:hover {
    color: rgb(0,0,0);
}

.static_page ol li:before {
     content:counter(myCounter);
     counter-increment:myCounter;
     position:absolute;
     top:0;
     left:0;
     width: 1.8em;
     height: 1.8em;
     line-height: 1.8em;
     padding:0px;
     color:#fff;
     background:#0073a3;
     font-weight:normal;
     text-align:center;
     border-radius: .9em;
     box-shadow: 0px 1px 4px 0px rgba(0,0,0,0.3);
     z-index: 1;
     -webkit-transition: all 0.3s ease-in-out;
     transition: all 0.3s ease-in-out;
 }
.static_page ul li:before {
    content:"";
    position:absolute;
    top:0;
    left:0;
    width: 10px;
    height: 10px;
    line-height: 1.8em;
    padding:0px;
    color:#fff;
    background:#0073a3;
    font-weight:bold;
    text-align:center;
    border-radius: .9em;
    box-shadow: 0px 1px 4px 0px rgba(0,0,0,0.3);
    z-index: 1;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    bottom: 0;
    right: 0;
    margin: auto 0;
}
.static_page li:hover:before {
    background-color: #8ab75a;
}

.static_page li li:before{
    background-color: #0073a3;
}

.static_page li:after {
    position: absolute;
    top: 2.1em;
    left: 0.9em;
    width: 2px;
    height: calc(100% - 2em);
    /*content: '';*/
    background-color: rgb(203, 203, 203);
    z-index: 0;
}

.static_page li:hover:after {
    background-color: #8ab75a;
}

.static_page li li {
    font-size: 0.8em;
}
.contact {
    padding: 30px 20px;
    background-color: #f5f5f5;
    max-height: 450px;
	margin-bottom: 20px;
}
.contact h4 {
    margin: 0 0 25px;
}
.contact .item {
    border-bottom: 1px solid #e0e0e0;
    padding-bottom: 25px;
    margin-bottom: 30px;
}
.contact .item:last-child {
    border: 0;
}
footer .copyright a {
    color: #fff;
}
footer .copyright a:hover{
	color: #6290c3;
}
#cookies_modal {
    position: fixed;
    bottom: 0px;
    width: 100%;
    background-color: #e0e0e0;
    padding: 5px 20px;
    min-height: 36px;
    color: #fff;
    z-index: 100;
    display: none;
}
.cookies_modal_text
{
    float:left;
    font-size:12px;
    color: #000;
}
.cookies_modal_text{
    padding:5px;
}
.cookies_modal_btn{
    float:right;
}
.cookies_modal_btn button.btn{
    padding: 5px;
    font-size: 12px;
    background-color: #6290c3;
    color: #fff !important;

}

.category-block .category-item-img {
    max-width: 130px;}

.product-item-info-container .product-item-conteiner-low .flag-low {
    width: 100%;
    height: 100%;
    -webkit-background-size: 20px;
    background-size: 20px;
}

.product-item-info-container .product-item-conteiner-low .flag-low {
    top: 0;}