.filter_l_block, .filter_r_block {
	display: block;
	float: left;
}
.filter_l_block {
	width: 21.2%;
	margin-right: 2.8%;
}
.filter_r_block {
	width: 75%;
}

.filter_prise_diopozon span {
	display: block;
	cursor: pointer;
}


.left_content_block {
	display: block;
	float: left;
	width: 21%;
	margin-right: 3%;
}

.right_content_block {
	display: block;
	float: left;
	width: 76%;
}

.sectiom_catalog_h1 {
	padding: 30px 0px;
	font-weight: 600;
	font-size: 26px;
}


/*//////////////////////////////////////////////////////////////*/
.grid{}
.grid .bx_content_section{
	margin-bottom: 15px;
}
.grid .bx_sidebar{
	margin-bottom: 15px;
}

/* grid2x1 */
.grid2x1{}
.grid2x1 .bx_content_section{
	float: left;
	width: 66%;
	margin-bottom: 15px;
}
.grid2x1 .bx_sidebar{
	float: right;
	width: 33%;
	margin-bottom: 15px;
	padding-left: 5%;
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	box-sizing:border-box;
}
@media (max-width:960px){
	.grid2x1 .bx_sidebar{
		padding-left: 4%;
	}
}
@media (max-width:640px) {
	.grid2x1 .bx_content_section,
	.grid2x1 .bx_sidebar{
		width: 100%;
		float: none;
	}
	.grid2x1 .bx_sidebar{
		padding-left: 3%;
	}
}
@media (max-width:479px){
	.grid2x1 .bx_sidebar{
		padding-left: 1%;
	}

}

.catalog-block-header{
	font-size:14px;
	font-weight: bold;
	text-align: left;
	margin:5px 0;
	padding:5px 15px;
	border-bottom: 2px solid #d9dee6;
	color: #000;
}

body.bx-theme-blue .catalog-block-header{border-color:#006cc0;}
body.bx-theme-green .catalog-block-header{border-color:#63aa28;}
body.bx-theme-red .catalog-block-header{border-color:#da3737;}
body.bx-theme-yellow .catalog-block-header{border-color:#f4b236;}

.left_content_block a.left_in_catalog {
	display: block;
	text-align: center;
	position: relative;
	padding: 7px 10px;
	margin-top: 15px;
	font-size: 15px;
	font-weight: 900;
	color: #fff;
	transition: .3s ease-in-out;
	background: #8ab75a;
	/*background: linear-gradient(#bdcf63,#8ab75a) 100% 0 no-repeat;*/
}

.left_content_block a.left_in_catalog:hover {
	/*background: #7aa54c;*/
}

.left_content_block a.left_in_catalog:active {
	/*background: #6c963f;*/
}

.left_content_block a.left_in_catalog span {
	display: block;
	position: relative;
	z-index: 10;
}

.left_content_block a.left_in_catalog:before {
	/*content: '';
	width: 100%;
	height: 100%;
	display: block;
	position: absolute;
	z-index: 0;
	top: 0;
	left: 0;
	opacity: 0;
	transition: .2s ease-out;*/
	/*background: linear-gradient(#8ab75a,#bdcf63) 100% 0 no-repeat;*/
}

/*.left_content_block a.left_in_catalog:hover:before,
.left_content_block a.left_in_catalog:active:before{
	opacity: 1;
}*/

/*.left_content_block a.left_in_catalog:active:before {
	background: linear-gradient(#bdcf63,#bdcf63) 100% 0 no-repeat;
}*/

/*.left_content_block a.left_in_catalog:after {
	 display: block;
	 content: "";
	 position: absolute;
	 top: 0;
	left: -10%;
	width: 120%;
	 height: 45px;
	 background: -webkit-linear-gradient(right, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0)) no-repeat -2em 0%;
	 background: linear-gradient(to left, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0)) no-repeat -2em 0%;
	 background-size: 50px 100%;
	 -webkit-transform: skewX(-30deg);
	 transform: skewX(-30deg);
	 background-position: -65px 0;
	 z-index: 40;
	 -webkit-animation-duration: 10s;
	 animation-duration: 10s;
	 -webkit-animation-name: blink_button;
	 animation-name: blink_button;
	 -webkit-animation-iteration-count: infinite;
	 animation-iteration-count: infinite;
}*/


.catalog-box h1.catalog-title {
	padding: 20px 0;
}