#title-search{
    width: 90%;
    position: relative;
}
.search-result_header .title-search-all a:hover{
    color: #365d88
}

.search-result_header {
    display: block;
    overflow: hidden;
    border-radius: 0px 0 3px 3px;
    box-shadow: 0 0 4px 0 rgba(0, 0, 0, .2);
    background-color: #fff;
    padding: 15px;
    position: relative;
    z-index: 1000
}
.search-result_header a {
    border-bottom: 1px solid #eee;
    padding-bottom: 10px;
    margin-bottom: 15px;
    display: block;
}
.search-result_header .title-search-all a {
    border: 0;
    color: #bdbdbd;
    padding-top: 10px;
    margin: 0;
}