.brend_section_block .img_box{
    width: 200px;
}

.brend_section_block .img_box img {
    width: 100%;
}

.brend_section_block {
    margin: 15px 0 45px;
    position: relative;
}

.brend_section_block h1 {
    padding-top: 0;
}

.brend_section_block .text_box {
    display: inline-block;
    vertical-align: top;
    width: 80%;
    margin-right: 1.5%;
}

.brend_section_block .c-elem {
    display: inline-block;
    vertical-align: top;
    width: 18%;
}

/*.brend_section_block .c-elem .img_box .bg_img,*/
    /*background-position: right;*/
/*}*/


