#myTable th.header.headerSortUp {
    background-image: url(images/caret-arrow-up.svg);
    background-color: #ffedcf;
    background-size: 10px;
    background-repeat: no-repeat;
    background-position: center right 5%;
}

#myTable th.header.headerSortDown {
    background-image: url(images/sort-down.svg);
    background-color: #ffedcf;
    background-size: 10px;
    background-repeat: no-repeat;
    background-position: center right 5%;
}

#myTable th.header {
    background-image: url(images/sort-arrows-couple-pointing-up-and-down.svg);
    background-size: 10px;
    background-repeat: no-repeat;
    background-position: center right 5%;
    cursor: pointer;
}

#myTable td.activ_one {
    background-color: #fff2de;
 }

#myTable td.activ_two {
    background-color: #feedd9;
}

#myTable tr:hover td.activ_one,
#myTable tr:hover td.activ_two {
    background-color: #ffedcf;}

.vision_blok .horizontal-scroll-mobile {
    display: none;
    width: 30px;
    height: 30px;
    margin: 0 auto;
    background-image: url(images/horizontal-scroll.svg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;

}