.podborki_section_serch {
    border: 1px solid #ccc;
    margin-bottom: 25px;
}

.podborki_section_serch input {
    width: 100%;
    height: 40px;
    border: 0;
    padding-left: 10px;
    padding-right: 50px;
    outline: 0;
    background-repeat: no-repeat;
    background-position: 99% center;
    background-size: 20px;
}

.podborki_section_content {
    margin-bottom: 15px;
}

.w1200 .podborki_section_content h2 {
    padding: 0;
}

.podborki_section_content a.link_podborki.big {
    display: block;
    color: #000;
    /* border-bottom: 2px solid #ccc; */
    background-color: #f1f1f1;
    background-repeat: no-repeat;
    background-size: 35px;
    background-position: 10px 50%;
    margin-bottom: 25px;
    padding: 15px 15px 15px 60px;
    transition: .2s ease-in-out;
    font-weight: normal;
    position: relative;
    overflow: hidden;
    cursor: pointer;
    top: -120%;
}

.podborki_section_content a.link_podborki.big:before {
    position: absolute;
    top: 0;
    left: -45%;
    z-index: 2;
    display: block;
    content: '';
    width: 25%;
    height: 100%;
    opacity: 0;
    background: -webkit-linear-gradient(left,rgba(255,255,255,0) 0,rgba(255,255,255,.3) 100%);
    background: linear-gradient(to right,rgba(255,255,255,0) 0,rgba(255,255,255,.3) 100%);
    -webkit-transform: skewX(-25deg);
    transform: skewX(-25deg);
}


.podborki_section_content a.link_podborki.big:hover:before {
    -webkit-animation: shine .8s ease-in-out;
    animation: shine .8s ease-in-out;
    opacity: 1;
    /*background-color: #dedede;*/
}

.podborki_section_content a.link_podborki.big:active {
    /*background-color: #cecece;*/
}

.podborki_section_content .podborki_section_box:before {
    content: '';
    display: block;
}

.podborki_section_content .podborki_box li {
    margin-left: 10px;
}

.podborki_section_content .podborki_box:after,
.podborki_section_content .podborki_box:before {
    display: table;
    clear: both;
    content: '';
}

.podborki_section_content .podborki_box .li_box {
    display: inline-block;
    vertical-align: top;
    width: 33%;
    margin-bottom: 20px;
    position: relative;
}

.podborki_section_content .podborki_box .li_box a.link_podborki {
    display: block;
    font-weight: 600;
    margin-bottom: 10px;
}

.podborki_section_content .podborki_box .li_box>a {
    color: #1e1e1e;
    font-size: 16px;
}

.podborki_section_content .podborki_box .li_box .podborki_box a.link_podborki {
    font-weight: 100;
    margin: 0 0;
}

.podborki_section_content .podborki_box .li_box .podborki_box {
    /*border-left: 2px solid #8ab75a;*/
    /*padding-left: 20px;*/
    padding-right: 30px;
}

.podborki_section_content .podborki_box .li_box .podborki_box .li_box {
    width: 100%;
    margin-bottom: 5px;
    position: relative;
}

.podborki_section_content .podborki_box .li_box .podborki_box .li_box a:before {
    display: block;
    content: '';
    width: 5px;
    height: 5px;
    background: #8ab75a;
    position: absolute;
    left: 0;
    top: 8px;
}

.podborki_section_content .podborki_box .li_box .podborki_box .li_box a{
    color: #6290c3;
    font-size: 14px;
    display: block;
    position: relative;
    padding-left: 20px;
}

.podborki_section_content .podborki_box .li_box a.link_podborki:hover {
    /*text-decoration: underline;*/
    color: #365d88;
}

.podborki_section_content .podborki_box .li_box a.link_podborki:active {
    color: #23476f;
}
#not_find_category{
    display: none;
}