.bx_catalog_compare_form  {
    display: none;
    width: 450px;
    max-height: 266px;
    z-index: 1000;
    background: #fff;
    top: 50px;
    right: -10px;
    position: absolute;
    box-shadow: 0 5px 10px #cacaca;
    text-align: left;
    overflow-y: scroll;
}

.bx_catalog_compare_form::-webkit-scrollbar {
    width: 3px;
    background-color: #cacaca;
}
.bx_catalog_compare_form::-webkit-scrollbar-thumb {
    background-color: #5880ac;
}

/*
.emarket-compare-list  a:hover{
	background-position: 0px -34px !important;
}*/
.emarket-compare-list  a.deactivated:hover{
	background-position: 0px 0px !important;
}
.emarket-compare-list .list-compare-hide{
    display: none;
}
.emarket-compare-list:hover .list-compare-hide{
    display: block;
    margin-left: -165px;
    top: 56px;
    z-index: 1000;
}
.list-compare-hide ul{
    margin: 0;
    padding: 0;
}
.list-compare-hide ul li{
    border-bottom: 1px solid #94bfdc ;   
    padding: 3px;
}
.list-compare-hide ul li div{
    display: inline-block;
    vertical-align: top;
}
.list-compare-hide ul li div.compare-prod-name{
    width: 76%;
}
.list-compare-hide ul li a{
     font-size: 13px;
    height: auto;
    line-height: 20px;
    text-decoration: none;
    width: 100%;
    color: #3f3f3f;
    padding: 10px 0;
}
.list-compare-hide ul li a:hover{
     color:#1763a6;
}
.list-compare-hide ul li.btn-item{
    text-align: center;
    background-color: #dceaf3;
    padding: 15px 0;
}
.link-compare {
    display: inline-block;
    margin: 0 !important;
    width: 100%;
    height: 40px;
    line-height: 40px;
    background-color: #6290c3;
    text-align: center;
    font-size: 16px;
    transition: .2s ease-in-out;
}

.link-compare.disabled, .link-compare.disabled:hover {
    background-color: #f6f6f6;
    cursor: default;
    color: #1e1e1e !important;
}

.link-compare:hover {
    background-color: #5880ac;
}

.link-compare:active {
    background-color: #365d88;
}

.emarket-compare-list ul li  .mdi {
    position: absolute;
    right: 10px;
    font-size: 20px;
    color: #e0e0e0;
    cursor: pointer;
    -webkit-transition: ease-out .3s;
    transition: ease-out .3s;
}
.emarket-compare-list ul li .mdi:hover {
    color: #7cb342;
}
.emarket-compare-list ul li .mdi:active {
    color: #689f38;
    transform: scale(.8);
}
.bx_catalog_compare_form li a .compare-prod-name {
    max-height: 60px;
    overflow: hidden;
    max-width: 70%;
}
 .bx_catalog_compare_form{
	    outline: none;
}

.bx_catalog_compare_form .compare_item {
    position: relative;
    padding: 15px;
    padding-right: 30px;
    border-bottom: 1px solid #F7F7F7;
}

.bx_catalog_compare_form .compare-prod-name a {
    font-size: 12px;
    color: #5880ac !important;
    text-decoration: none;
    white-space: normal;
    line-height: 14px;
}

.bx_catalog_compare_form .compare_item:hover .compare_item_img {
    box-shadow: -1px 0 10px 0 rgba(0,0,0,.2);
}

.bx_catalog_compare_form .compare_item:hover .compare-prod-name a {
    color: #365d88 !important;
}

.bx_catalog_compare_form .compare_item:active .compare-prod-name a {
    color: #23476f !important;
}

.bx_catalog_compare_form .compare_item:last-child{
    border-bottom: none;
    margin-bottom: 0;
}

.bx_catalog_compare_form .compare_item_img {
    display: table-cell;
    vertical-align: middle;
    width: 80px;
    height: 80px;
    text-align: center;
    position: relative;
    overflow: hidden;
    border: 1px solid #E6E6E6;
    transition: ease-out .3s;
}

.bx_catalog_compare_form .compare_item_img a {
    display: table-cell;
    vertical-align: middle;
    width: 80px;
    height: 80px;
    padding: 3px;
}

.bx_catalog_compare_form .compare_item_img img {
    vertical-align: middle;
    max-width: 74px;
    max-height: 74px;
}


.bx_catalog_compare_form .compare-prod-name {
    display: table-cell;
    vertical-align: middle;
    width: 245px;
    height: 80px;
    padding-left: 15px;
}