.rec_tovar_glav {
	margin-top: 30px;
}

.rec_tovar_glav .elemrnt_box .product-item-container {
	padding: 5px;
}

.rec_tovar_glav .owl-controls {
	/*top: -30px;*/
}

.rec_tovar_glav .title_box {
	font-size: 18px;
	font-weight: 700;
	text-transform: uppercase;
	margin: 0 auto 35px;
	text-align: center;
	max-width: 700px;
}

.rec_tovar_glav .owl-carousel .owl-stage-outer {
	padding: 5px 0;
}