.catalog-compare-result .head .control {
	display: block;
	width: 100%;
}
.catalog-compare-result .head .control .compare-switch{
	height:50px;
}

.catalog-compare-result .head .control .compare-switch a:hover {
	background: linear-gradient(#8ab75a,#bdcf63) 100% 0 no-repeat;
	/*border: 1px solid #bdcf63;*/
}

.catalog-compare-result .head .control .compare-switch a:active {
	background: linear-gradient(#bdcf63, #bdcf63) 100% 0 no-repeat;
}


/* styles for switch */
.compare-switch .switch {
	display: none;
	-webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    transform: rotate(90deg);
    filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=1);
	float:left;
	height: 16px;
	margin: 10px 0;
	position: relative;
	width: 30px;
}
.compare-switch .switch:before{
	content: '';
	display: block;
	position: absolute;
	height: 3px;
	left: 3px;
	right: 3px;
	top: 50%;
	margin-top: -1px;
	background: #94bfdc;
	border-radius: 3px;
}
.compare-switch .switch-check { position: absolute; visibility: hidden;}
.compare-switch .switch-label {
	cursor: pointer;
	display: block;
	text-indent: -9999px;
	height: 16px;
	width: 30px;
}
.compare-switch .switch-label:before {display:none !important;}
.compare-switch .switch-label:after {display:none !important;}
.compare-switch .switch-label span {
	border: 1px solid #e9e9e9;
	background:#fcfcfc;
	border-radius: 50%;
	box-shadow: 1px 0 2px rgba(0,0,0,0.5);
	display: block;
	top: 50%;
	margin-top: -6px;
	left: 1px;
	position: absolute;
	transition:all 0.2s linear;
	height: 12px;
	width: 12px;
}
.compare-switch .switch-check:checked + .switch-label span {left: 16px;}
/*\ styles for switch \*/


.catalog-compare-result .head .item-list{
	float: left;
	width: 100%;
	position:relative;
}


/* property-list */
.catalog-compare-result .property-list {
	margin:20px 0;
	margin-top: 0;
	overflow: hidden;
}

.catalog-compare-result .property-list .clear {
	overflow: hidden;
}

.catalog-compare-result .property-list .property-name{
	float: left;
	box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
	display: block;
	width: 100%;
	text-transform: uppercase;
	font-size: 14px;
	color: rgba(0, 0, 0, .5);
	padding: 5px 0 10px;
}
.catalog-compare-result .property-list .property-name p{
	/*padding: 0 10px;*/
}
.catalog-compare-result .property-list .property-value{
	float: left;
	position:relative;
	border-bottom: 1px solid #cacaca;
	width: 100%;
}


/*emarket-mSlider*/
.emarket-mSlider{position:relative;}
.emarket-mSlider .mSlider-wrap{
	overflow-x: hidden;
	width: 100%;
}
.emarket-mSlider .mSlider-wrap .mSlider-window{
	position: relative;
	list-style: none;
}
.emarket-mSlider .mSlider-wrap .mSlider-window li.slide {
	float: left;
	width: 299px;
}

.emarket-mSlider .mSlider-wrap .mSlider-window li.slide .slide-wrap{
	width: 100%;
	position:relative;
	padding: 15px;
	padding-top: 30px;
	border-right: 1px solid #cecece;
}


.emarket-mSlider .mSlider-wrap .mSlider-window li.slide-prop{
	float: left;
	/*min-height: 27px;*/
	width: 299px;
}
.emarket-mSlider .mSlider-wrap .mSlider-window li.slide-prop .slide-wrap{
	min-height: 20px;
	position:relative;
	margin-bottom: 5px;
}
.emarket-mSlider .mSlider-wrap .mSlider-window li.slide-prop .slide-wrap p{
	/*padding: 0 10px;*/
}
.emarket-mSlider .mSlider-wrap .mSlider-window li.current .slide-wrap a,
.emarket-mSlider .mSlider-wrap .mSlider-window li.slide-prop a {
	display: block;
	color: #6290c3;
}

.emarket-mSlider .mSlider-wrap .mSlider-window li.current .slide-wrap a:hover,
.emarket-mSlider .mSlider-wrap .mSlider-window li.slide-prop a:hover {
	/*text-decoration: underline;*/
}

.emarket-mSlider .mSlider-wrap .mSlider-window li.slide-prop a:hover {
	color: #365d88;
}

.emarket-mSlider .mSlider-wrap .mSlider-window li.slide-prop a:active {
	color: #23476f;
}


/*.emarket-mSlider .mSlider-wrap .mSlider-window li .slide-wrap .close{
	position: absolute;
	right: 7px;
	top: 7px;
	display: block;
	width: 10px;
	height: 10px;
	font-size: 0px;
	border: 0;
	padding: 0;
	cursor: pointer;
	opacity: 0.3;
	background: none;
	background-repeat: no-repeat;
	background-position: 1px 1px;
	background-image: url(images/close.png);
}*/
.emarket-mSlider .mSlider-wrap .mSlider-window li .slide-wrap .close:hover{opacity:1;}

.emarket-mSlider .mdi-close:active {
	transform: scale(.8);
}

.emarket-mSlider .mSlider-wrap .mSlider-window li.current .slide-wrap{
	border-left:0;
	width:100%;
}

.property-value.emarket-mSlider .mSlider-wrap .mSlider-window .slide-wrap {
	padding: 0 15px 0 5px;
}

.emarket-mSlider .mSlider-wrap .mSlider-window li .picture a{
	display: block;
	vertical-align:middle;
	text-align:center;
}
.emarket-mSlider .mSlider-wrap .mSlider-window li .picture a img {
	display:inline-block;
	width: 150px;
}
.emarket-mSlider .mSlider-wrap .mSlider-window li a.link{
	display: block;
	color: #6290c3;
	text-decoration:none;
	text-align: center;
	margin: 13px 0 10px;
	line-height: 18px;
	font-size: 14px;
	height: 36px;
	overflow: hidden;
	white-space: normal;
}

.emarket-mSlider .mSlider-wrap .mSlider-window li a.link:hover {
	text-decoration: none;
	color: #365d88;
}

.emarket-mSlider .mSlider-wrap .mSlider-window li a.link:active {
	text-decoration: none;
	color: #23476f;
}

.emarket-mSlider .mSlider-wrap .mSlider-window li b{
	color:#1763a6;
	font-size:16px;
	padding: 0 10px;
	display: block;
}


.emarket-mSlider a.mSlider-prev,
.emarket-mSlider a.mSlider-next {
	position:absolute;
	width:9px;
	height:16px;
	top: -36px;
	opacity:.5;
	background-image:url(images/tile-arrows.png);
	background-repeat:no-repeat;
}
.emarket-mSlider a.mSlider-prev:hover,
.emarket-mSlider a.mSlider-next:hover{opacity:1;}
.emarket-mSlider a.mSlider-prev {
	right:45px;
	background-position:0px 0px;
}
.emarket-mSlider a.mSlider-next {
	right:0px;
	background-position:-11px 0px;
}


/* /////////////////////////////////////////////////////// */

.picture {
	display: block;
	margin-bottom: 25px;
}

.emarket-mSlider .mSlider-wrap .mSlider-window li .picture a {
	display: block;
	vertical-align: middle;
	text-align: center;
	position: relative;
	height: 0;
	padding-top: 75%;
}

.img_item_compare {
	position: absolute;
	display: block;
	top: 0;
	bottom: 0;
	right: 0;
	left: 0;
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
}

.compare_item_form {
	border: 2px solid rgba(202, 202, 202, 0.5);
}

.price {
	color: #1e1e1e;
	height: 85px;
	text-align: center;
}

.price span.current_price {
	width: auto;
	max-width: 155px;
	background: #fef3de;
	border-top: 2px solid #f1c449;
	display: block;
	margin: 0 auto;
	font-size: 24px;
	font-weight: 700;
	padding: 12px 0;
	line-height: 1;
}

.price span.old_price {
	display: block;
	margin-top: 5px;
	text-decoration: line-through;
	opacity: .6;
	font-size: 19px;
	font-style: italic;
}

.emarket-mSlider .mdi-close {
	position: absolute;
	top: 10px;
	right: 10px;
	width: 20px;
	height: 20px;
	cursor: pointer;
	transition: ease-out .3s;
}

.emarket-mSlider .mdi-close:after, .emarket-mSlider .mdi-close:before {
	content: '';
	display: block;
	position: absolute;
	top: 9px;
	width: 100%;
	height: 2px;
	background-color: rgba(0, 0, 0, .3);
	transition: .2s ease-in-out;
}

.emarket-mSlider .mdi-close:after {
	transform: rotate(45deg);
}
.emarket-mSlider .mdi-close:before {
	transform: rotate(-45deg);
}

.emarket-mSlider .mdi-close:hover:after,
.emarket-mSlider .mdi-close:hover:before {
	background-color: #000;
}

.emarket-mSlider .mdi-close input.close {
	text-indent: -9999px;
	border: none;
	background-color: transparent;
	width: 100%;
	height: 100%;
	padding: 0;
	position: relative;
	z-index: 100;
	outline: none;
	cursor: pointer;
}

.emarket-mSlider .mdi-close .hint {
	width: 200px;
	top: 30px;
	right: -15px;
}

.catalog-compare-result .property-list h2 {
	font-size: 18px;
	text-transform: uppercase;
	font-weight: 700;
	border-bottom: 2px solid rgba(202, 202, 202, 0.5);
	padding-bottom: 7px;
}


.property-value.emarket-mSlider ul.mSlider-window:after,
.property-value.emarket-mSlider ul.mSlider-window:before {
	content: '';
	display: table;
	clear: both;
}

.compare-del-btn {

}

.compare-del-btn a {
	position: relative;
	z-index: 100;
	color: #1e1e1e;
	font-size: 14px;
	font-weight: 900;
	text-transform: uppercase;
	padding: 15px;
	width: 175px;
	text-align: center;
	border: 1px solid #cecece;
	margin-top: 20px;
	cursor: pointer;
	overflow: hidden;
	display: block;
}

/*.compare-del-btn:after {
	content: '';
	display: block;
	position: absolute;
	width: 100%;
	height: 100%;
	background-color: #cecece;
	bottom: 100%;
	transition: .2s ease-in-out;
}

.compare-del-btn:hover:after {
	bottom: 0;
}

.compare-del-btn:hover {
	text-shadow: 0 0 10px rgba(0, 0, 0, .3);
}

.compare-del-btn:active {
	text-shadow: none;
}*/

.compare-switch-link span, .compare-switch-link a {
	display: inline-block;
	vertical-align: middle;
	padding: 5px 10px;
	margin-right: 10px;
	color: #8ab75a;

}

.compare-switch-link span {
	border: 1px solid #8ab75a;
	cursor: default;
}

.compare-switch-link a.active {
	/*background: linear-gradient(#bdcf63,#8ab75a) 100% 0 no-repeat;*/
    color: #fff;
	background: #8ab75a !important;
}

