.catalog-top-header{
	font-size:14px;
	font-weight: bold;
	text-align: left;
	margin:5px 0;
	padding:5px 15px;
	border-bottom: 2px solid #d9dee6;
	color: #000;
}

.top_akcii {
	margin-top: 50px;
}

.top_akcii .title_box {
	font-size: 18px;
	font-weight: 700;
	text-transform: uppercase;
	margin: 0 auto 35px;
	text-align: center;
	max-width: 700px;
}

.top_akcii .elemrnt_box .product-item-container {
	padding: 5px;
}

.top_akcii .elemrnt_box .product-item-container .item_lable_blck {
	top: -10px;
}

.top_akcii .owl-carousel .owl-stage-outer {
	padding: 5px 0;
}