/*.element_box {*/
	/*width: 20%;*/
	/*display: inline-block;*/
	/*vertical-align: top;*/
/*}*/

/*.element_box .product-item-container {*/
	/*float: left;*/
	/*width: 100%;*/
	/*font-size: 14px;*/
	/*padding: 0 10px;*/
/*}*/