.jq-selectbox li.disabled {
	 display: none;
 }

.flag {
	width: 20px;
	height: 20px;
	display: inline-block;
	vertical-align: middle;
	margin-right: 10px;
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
}

.bx-catalog-element .top_prop_box .top_prop_box_value span.country,
.bx-catalog-element .product-item-detail-properties .prop_value span.country {
	display: inline-block;
	vertical-align: middle;
	float: none;
	line-height: 20px;}


.element_superbox {
	width: 1240px;
}
.sravnenie_img {
	display: block;
	background: url("../.default/images/bar-chart.svg") no-repeat;
	width: 50px;
	height:50px;
	cursor: pointer;
	background-size: cover;
}

.sravnenie label input {
	display: none;
}

.r_box,.l_box {
	display: inline-block;
	vertical-align: top;
}

.l_box {
	float: right;
}

.forever {
	background: url("../.default/images/flag.svg") no-repeat;
	width: 50px;
	height:50px;
	cursor: pointer;
	background-size: cover;

}

.pup_wind_srav {
	position: absolute;
	top: 200px;
	left: 500px;
	bottom: 0;
	right: 0;
	width: 300px;
	height: 170px;
	background: #ece7e7;
	z-index: 100;
}

.r_content_box, .l_content_box {
	display: inline-block;
	width: 49%;
}

#bx-pager img {
	width:100px;
	height: 100px;
}

.slider_nav {
	display: inline-block;
	width:20%;
	vertical-align: top;
}

.slider_block {
	display: inline-block;
	width:78%;
}

.slider_block img{
	width: 100%;
}

.container-fluid {
	width: 1240px;
}

.hiden {
	display: none;
}

.old-current-price {
	text-decoration: line-through;
	opacity: .6;
	font-style: italic;
	line-height: 1;
	margin-bottom: 8px;
	display: block;
}

/*.product-item-detail-price-current  .prise_nap {*/
/*font-family: Helvetica-Bold;*/
/*font-size: 36px;*/
/*font-weight: 700;*/
/*line-height: 30px;*/
/*}*/

/*///////////////////////////////////////////////////////////////////////////////////*/




/* Sidebar */
.product-item-detail-info-section{padding:0 20px;}
/*@media (max-width: 767px){
	.product-item-detail-info-section{padding:0;}
}*/
@media (max-width: 992px){
	.product-item-detail-info-section{padding:0;}
}
.product-item-detail-info-container-title{
	font-weight: bold;
	color: #000;
	font-size:13px;
	margin-bottom: 3px;
}
.bx-retina .product-item-detail-pay-block{border-width:.5px;}


/*Compare*/
.product-item-detail-compare-container{
	font-size: 12px;
	padding: 4px 15px;
	border-top: 1px solid #e4e4e4;
	position: relative;
	margin: 0 -20px;
	background: #F3F3F3;
	line-height: 20px;
	vertical-align: middle;
	min-height: 30px;
	box-shadow: inset 0 1px 1px 0 #eee;
	/*box-shadow: 0 1px 1px 0 #eee;*/
	color: #4e4e4e;
}
.product-item-detail-compare .checkbox{
	margin: 0;
	padding:0;
}

/* SCU */
.product-item-scu-container{ padding: 0 0 2px;}
.product-item-scu-container-title{
	font-size:12px;
	color: #333;
}
.product-item-scu-block{}
.product-item-scu-list{margin: 0;}
.product-item-scu-item-list{
	list-style: none;
	padding: 0;
	overflow: hidden;
	margin: 0 0 0 -2px;
}
.product-item-scu-item-color-container,
.product-item-scu-item-text-container{
	/* float: left; */
	padding: 5px 3px;
	box-sizing: border-box;
	display: inline-block;
	max-width: 100%;
	vertical-align: middle;
}
.product-item-scu-item-text-container{min-width:48px;}
.product-item-scu-item-color-container{
	max-width:60px;
	width:25%;
}
.product-item-scu-item-color-block{
	position: relative;
	padding-top: 100%;
	cursor: pointer;
	outline: 1px solid #c0cfda;
}
.bx-no-touch .product-item-scu-item-color-block{
	transition: outline 200ms ease;
}
.bx-retina 	.product-item-scu-item-color-block{outline-width: .5px;}
.product-item-scu-item-color-container.selected .product-item-scu-item-color-block{outline-width: 2px;}
.bx-retina  .product-item-scu-item.selected .product-item-scu-item-color-block{outline-width: 1px;}

.product-item-scu-item-color{
	position: absolute;
	top:   2px;
	right: 2px;
	left:  2px;
	bottom:2px;
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
}
.product-item-scu-item-text-block{
	position: relative;
	cursor: pointer;
	outline: 1px solid #c0cfda;
	padding: 0 5px;
}
.bx-no-touch .product-item-scu-item-text-block{
	transition: outline 300ms ease;
}
.bx-retina 	.product-item-scu-item-text-block {outline-width: .5px;}
.product-item-scu-item-text-container.selected .product-item-scu-item-text-block{outline-width: 2px;}
.bx-retina  .product-item-scu-item.selected .product-item-scu-item-text-block{outline-width: 1px;}
.product-item-scu-item-text{
	vertical-align: middle;
	text-align: center;
	font-size: 11px;
	line-height: 18px;
	white-space: nowrap;
	text-transform: uppercase;
	text-overflow: ellipsis;
	overflow: hidden;
	max-width: 100%;
}

.product-item-scu-item-color-container.notallowed .product-item-scu-item-color-block,
.product-item-scu-item-text-container.notallowed  .product-item-scu-item-text-block{
	position: relative;
	outline-color: #A9ADB4 !important;
	overflow: hidden;
}
.product-item-scu-item-color-container.notallowed .product-item-scu-item-color-block:after,
.product-item-scu-item-text-container.notallowed  .product-item-scu-item-text-block:after{
	position: absolute;
	top:   -2px;
	right: -2px;
	bottom:-2px;
	left:  -2px;
	content:"";
	background: rgba(255, 255, 255, 0.75) url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyNiIgaGVpZ2h0PSIyNiIgdmlld0JveD0iMCAwIDI2IDI2Ij4gIDxwYXRoIGZpbGw9IiNBOUFEQjQiIGZpbGwtcnVsZT0iZXZlbm9kZCIgZD0iTTE0LjM5MjEyNjgsMTMuMjMyMzAyOSBMMjUuOTkyLDEuNDE4IEwyNC42LDAgTDEyLjk5OTk5NTYsMTEuODE0NDM2NCBMMS40LDAgTDAuMDA5LDEuNDE5IEwxMS42MDc4Njg3LDEzLjIzMjI5NzUgTDAuNDczLDI0LjU3MyBMMS44NjUsMjUuOTkxIEwxMi45OTk5OTkzLDE0LjY1MDE2NDUgTDI0LjEzNCwyNS45OSBMMjUuNTI2LDI0LjU3MiBMMTQuMzkyMTI2OCwxMy4yMzIzMDI5IFoiLz48L3N2Zz4=) no-repeat center;
	background-size:80% 80%;
}

.product-item-selected-scu-container{word-spacing: 1px}
.product-item-selected-scu{
	display: inline-block;
	outline: 1px solid #c0cfda;
	vertical-align: middle;
	text-align: center;
	font-size: 11px;
	line-height: 22px;
	height:22px;
	min-width:22px;
	white-space: nowrap;
	text-transform: uppercase;
	text-overflow: ellipsis;
	overflow: hidden;
	padding: 0 5px;
}
.bx-retina .product-item-selected-scu {outline-width: .5px;}
.product-item-selected-scu-color{
	background-position: center;
	background-size:20px 20px;
	background-repeat:no-repeat;
}

/*Amount*/
.product-item-amount{
	text-align: center;
	padding:0 0 2px;
}
.product-item-amount-field-container{}

.product-item-amount-field-btn-plus,
.product-item-amount-field-btn-minus{
	height:22px;
	min-width:22px;
	display: inline-block;
	vertical-align: middle;
	background-color: #f2f2f2;
	color: #fff;
	text-align: center;
	border-radius:2px;
	cursor: pointer;
	position: relative;
	transition: background 300ms ease, opacity 300ms ease;
}
.bx-retina .product-item-amount-field-btn-plus,
.bx-retina .product-item-amount-field-btn-minus{ border-width:.5px;}
.product-item-amount-field-btn-plus:hover,
.product-item-amount-field-btn-minus:hover{background: #d3d3d3;}

.product-item-amount-field-btn-plus:after,
.product-item-amount-field-btn-minus:after{
	position: absolute;
	top:   0;
	right: 0;
	bottom:0;
	left:  0;
	content:"";
	opacity:.8;
	transition: opacity 300ms ease, background 300ms ease;
}

.product-item-amount-field-btn-disabled.product-item-amount-field-btn-plus:after,
.product-item-amount-field-btn-disabled.product-item-amount-field-btn-minus:after{
	opacity:.3 !important;
	cursor: default;
}
.product-item-amount-field-btn-disabled.product-item-amount-field-btn-plus:hover,
.product-item-amount-field-btn-disabled.product-item-amount-field-btn-minus:hover {
	background-color: #f2f2f2;
}

.product-item-amount-field-btn-minus:after{
	position: absolute;
	top:   0;
	right: 0;
	bottom:0;
	left:  0;
	content:"";
	opacity:.8;
	transition: opacity 300ms ease;
}
.product-item-amount-field-btn-plus:after{
	background: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIzMCIgaGVpZ2h0PSIzMCIgdmlld0JveD0iMCAwIDMwIDMwIj4gIDxwYXRoIGZpbGw9IiM1MjVDNjgiIGZpbGwtcnVsZT0iZXZlbm9kZCIgZD0iTTE4LDEyIEwxOCwwIEwxMiwwIEwxMiwxMiBMMCwxMiBMMCwxOCBMMTIsMTggTDEyLDMwIEwxOCwzMCBMMTgsMTggTDMwLDE4IEwzMCwxMiBMMTgsMTIgWiIvPjwvc3ZnPg==) no-repeat center;
	background-size:10px;
}
.product-item-amount-field-btn-minus:after{
	background: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIzMCIgaGVpZ2h0PSIzMCIgdmlld0JveD0iMCAwIDMwIDMwIj4gIDxyZWN0IHdpZHRoPSIzMCIgaGVpZ2h0PSI2IiB5PSIxMiIgZmlsbD0iIzUyNUM2OCIgZmlsbC1ydWxlPSJldmVub2RkIi8+PC9zdmc+) no-repeat center;
	background-size:10px;
}
.product-item-amount-field-btn-plus:hover:after,
.product-item-amount-field-btn-minus:hover:after{opacity: 1;}

.product-item-amount-field{
	max-width:50px;
	width:auto;
	color: #000;
	font-weight: bold;
	display: inline-block;
	line-height:22px;
	vertical-align: middle;
	height:22px;
	padding: 0;
	font-size:19px;
	text-align: center;
	background: transparent !important;
	border: 1px solid transparent;
	border-radius:2px;
	transition: border 300ms ease;
}
.bx-retina .product-item-amount-field{ border-width:.5px;}
.product-item-amount-field:focus{outline: none !important;}
.bx-no-touch input.product-item-amount-field::-webkit-outer-spin-button,
.bx-no-touch input.product-item-amount-field::-webkit-inner-spin-button{
	-webkit-appearance: none;
	margin: 0
}
.product-item-amount-description-container{
	color: #a5a5a5;
	font-size: 12px;
	white-space: nowrap;
}
.product-item-amount-description-container strong{
	color: #333;
	white-space: nowrap;
}
.product-item-amount-label-container{
	font-weight: bold;
	color: #a5a5a5;
	font-size: 12px;
	margin: 5px 0;
}

/**/
.product-item-quantity{
	color: #333;
	font-size: 12px;
	font-weight: normal;
}


/*Buy button*/
.btn.product-item-detail-buy-button{
	width:100%;
	max-width: 250px;
	display: block;
	font-weight: 800;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size:12px;
	height:50px;
	text-transform: uppercase;
	position: relative;
	margin: 0 auto 20px;
}
.product-item-detail-short-card-btn .btn.product-item-detail-buy-button{ margin: 0;}
.btn.product-item-detail-buy-button span{
	line-height:16px;
	display: inline-block;
	min-height:16px;
	position: absolute;
	top:   50%;
	right: 0;
	left:  0;
	max-width: 100%;
	white-space: normal;
	-webkit-transform: translateY(-50%);
	-moz-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	-o-transform: translateY(-50%);
	transform: translateY(-50%);
}
.btn-link.product-item-detail-buy-button{height:25px;}

/* Slider */
.product-item-detail-slider-container {
	max-width: 100%;
	position: relative;
	margin-bottom: 35px;
	-webkit-transition: background 800ms ease;
	-moz-transition: background 800ms ease;
	-ms-transition: background 800ms ease;
	-o-transition: background 800ms ease;
	transition: background 800ms ease;
	background-color: #fff;
}

.product-item-detail-slider-container.fulling {
	padding-left: 110px;
}

.product-item-detail-slider-container.empty-slider {
	padding-left: 0;
	margin-bottom: 0;
}


.product-item-detail-slider-block{
	position: relative;
	box-sizing: border-box;
	height: 0;
	border: 1px solid #cacaca;
	background-color: #fff;
}
.product-item-detail-slider-block.product-item-detail-slider-block-square{
	padding-top: 100%;
}
.product-item-detail-slider-images-container{
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 100%;
	margin: auto;
	background-color: #fff;
}
.product-item-detail-slider-image{
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	text-align: center;
	opacity: 0;
	-webkit-transition: opacity 250ms linear;
	-moz-transition: opacity 250ms linear;
	-ms-transition: opacity 250ms linear;
	-o-transition: opacity 250ms linear;
	transition: opacity 250ms linear;
	background-color: #fff;
}
.product-item-detail-slider-image.active{
	opacity: 1;
	z-index:10;
}

.product-item-detail-slider-image .slider-image-box {
	width: 100%;
	height: 100%;
	padding: 10px;
}

.product-item-detail-slider-image img{
	-webkit-transform: translateY(-50%) translateX(-50%);
	-moz-transform: translateY(-50%) translateX(-50%);
	-ms-transform: translateY(-50%) translateX(-50%);
	-o-transform: translateY(-50%) translateX(-50%);
	transform: translateY(-50%) translateX(-50%);

	-webkit-transition: background-size 450ms ease, width 450ms ease, height 450ms ease, outline 450ms ease;
	-moz-transition: background-size 450ms ease, width 450ms ease, height 450ms ease, outline 450ms ease;
	-ms-transition: background-size 450ms ease, width 450ms ease, height 450ms ease, outline 450ms ease;
	-o-transition: background-size 450ms ease, width 450ms ease, height 450ms ease, outline 450ms ease;
	transition: background-size 450ms ease, width 450ms ease, height 450ms ease, outline 450ms ease;
	background-repeat: no-repeat;
	background-position: center;

	position: absolute;
	top:  50%;
	left: 50%;
	height:auto;
	width:auto;
	max-height: 95%;
	max-width:95%;
	outline: 1px solid transparent;
}
.product-item-detail-slider-progress-bar{
	height: 3px;
	position: absolute;
	left: 0;
	bottom: 0;
	z-index:180;
}

/*Slider Controls*/
.product-item-detail-slider-controls-block{
	position: absolute;
	left: 0;
	top: 0;
	text-align: center;
	width: 90px;
	height: 100%;
	overflow: hidden;
}

.product-item-detail-slider-controls-image{
	width:  90px !important;
	height: 90px  !important;
	background-color: #fff;
	position: relative;
	text-align: center;
	cursor: pointer;
	overflow: hidden;
	margin: 0 0 10px 0;
	border: 1px solid rgba(0, 0, 0, .1);
	padding: 5px;
	transition: .3s ease-in-out;
}

.product-item-detail-slider-controls-image.active {
	border: 1px solid #6290c3;
}

.product-item-detail-slider-controls-image .slider-image-box {
	transition: .3s ease-in-out;
	opacity: .5;
}

.product-item-detail-slider-controls-image.active .slider-image-box {
	opacity: 1;
}

.product-item-detail-slider-controls-image img{
	max-width:  80px;
	max-height: 80px;
	height: auto;
	width: auto;
	-webkit-transform: translateY(-50%) translateX(-50%);
	-moz-transform: translateY(-50%) translateX(-50%);
	-ms-transform: translateY(-50%) translateX(-50%);
	-o-transform: translateY(-50%) translateX(-50%);
	transform: translateY(-50%) translateX(-50%);
	position: absolute;
	top:  50%;
	left: 50%;
}

.product-item-detail-slider-left,
.product-item-detail-slider-right{
	display: block;
	position: absolute;
	cursor: pointer;
	-webkit-transition: all 300ms ease;
	-moz-transition: all 300ms ease;
	-ms-transition: all 300ms ease;
	-o-transition: all 300ms ease;
	transition: all 300ms ease;
	opacity: .57;
	background: rgba(255,255,255,0) url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2216%22%20height%3D%2230%22%20viewBox%3D%220%200%2016%2030%22%3E%3Cpolygon%20fill%3D%22%23000000%22%20fill-rule%3D%22evenodd%22%20points%3D%2216%2050%202%2036%2016%2022%2015%2021%201%2035%200%2036%201%2037%2015%2051%22%20transform%3D%22translate(0%20-21)%22%2F%3E%3C%2Fsvg%3E') no-repeat center;
	z-index:111;
	top: 0;
	bottom: 0;
	width:25%;
}
.product-item-detail-slider-left{left:0;}
.product-item-detail-slider-right{
	right:0;
	-webkit-transform: rotate(180deg);
	-moz-transform: rotate(180deg);
	-o-transform: rotate(180deg);
	-ms-transform: rotate(180deg);
	transform: rotate(180deg);
}
.product-item-detail-slider-left:hover,
.product-item-detail-slider-right:hover{
	opacity:.8;
	background-color: rgba(255,255,255,.4);
}

.product-item-detail-slider-close{ display: none;}
.product-item-detail-slider-container.popup .product-item-detail-slider-close {
	width: 50px;
	height: 50px;
	right: -60px;
	top: -16px;
	opacity: .3;
	/*background: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2216%22%20height%3D%2216%22%20viewBox%3D%220%200%2016%2016%22%3E%3Cpolygon%20fill%3D%22%23000000%22%20fill-rule%3D%22evenodd%22%20points%3D%2216%2015.1%208.944%208%2016%201%2015.006%200%208.05%207%20.994%200%200%201%207.056%208%200%2015.1%20.994%2016%208.05%209%2015.006%2016%22%2F%3E%3C%2Fsvg%3E') no-repeat center;*/
	-webkit-transition: all 300ms ease;
	-moz-transition: all 300ms ease;
	-ms-transition: all 300ms ease;
	-o-transition: all 300ms ease;
	transition: all 300ms ease;
	bottom: 0;
	display: block;
	position: absolute;
	cursor: pointer;
	z-index: 150;
}

.product-item-detail-slider-container.popup .product-item-detail-slider-close:after,
.product-item-detail-slider-container.popup .product-item-detail-slider-close:before {
	content: '';
	display: block;
	position: absolute;
	width: 30px;
	height: 3px;
	background-color: #000;
	top: 25px;
	left: 10px;
}

.product-item-detail-slider-container.popup .product-item-detail-slider-close:before {
	transform: rotate(-45deg);}
.product-item-detail-slider-container.popup .product-item-detail-slider-close:after {
	transform: rotate(45deg);}

.product-item-detail-slider-container.popup .product-item-detail-slider-close:hover{ opacity:.6;}

.product-item-detail-slider-container.popup .product-item-detail-slider-right{right:105px;}

/*magnified*/
.product-item-detail-slider-container.magnified .product-item-detail-slider-image{ z-index:50;}
.product-item-detail-slider-container.magnified .product-item-detail-slider-left,
.product-item-detail-slider-container.magnified .product-item-detail-slider-right{z-index:50;}
.product-item-detail-slider-container.magnified .product-item-label-text,
.product-item-detail-slider-container.magnified .product-item-label-ring{opacity: 0;}


/*	>>>	popup*/
.product-item-detail-slider-container.popup.empty-slider,
.product-item-detail-slider-container.popup.fulling {
	position: fixed;
	top:   0;
	left:  0;
	right: 0;
	bottom:0;
	z-index: 999999;
	height: 100%;
	animation-name: imgPopupShow;
	animation-duration: 200ms;
	animation-timing-function: ease-in;
	margin: 0;
	padding: 0;
	background-color: rgba(255, 255, 255, .95);
}

.product-item-detail-slider-container.popup .owl-nav {
	display: none;
}

.product-item-detail-slider-container.popup .product-item-detail-slider-container-relative {
	width: 60%;
	height: 80%;
	position: relative;
	margin: 50px auto 0;
	background-color: #fff;
	padding-left: 135px;box-shadow: 0 0 10px rgba(0,0,0,.3);
}


.product-item-detail-slider-container.popup .product-item-detail-slider-block{
	height: 100%;
	padding-top: 0;
	border: 0;
}
.product-item-detail-slider-container.popup .product-item-detail-slider-image {
	width: 100%;
	height: 100%;
	position: absolute;
	margin: auto;
	top: 100%;
	left: 50%;
	-webkit-transform: translateY(-50%) translateX(-50%);
	-moz-transform: translateY(-50%) translateX(-50%);
	-ms-transform: translateY(-50%) translateX(-50%);
	-o-transform: translateY(-50%) translateX(-50%);
	transform: translateY(-50%) translateX(-50%);
}
@keyframes imgPopupShow {
	from { opacity: 0;}
	to   { opacity: 1;}
}

/*.product-item-detail-slider-container.popup .product-item-detail-slider-image img{*/
/*width: auto;*/
/*max-width: 100%;*/
/*height: auto;*/
/*max-height: 100%;*/
/*cursor: default;*/
/*}*/
.product-item-detail-slider-container.popup .product-item-detail-slider-controls-block{
	background-color: #fff;
	position: absolute;
	top: 0;
	bottom: 0;
	right: initial;
	padding:20px;
	overflow-y: auto;
	width: 135px;
	height: 550px;
	margin: auto;
}
.product-item-detail-slider-container.popup .product-item-detail-slider-controls-image{
	display: block;
	/*margin-bottom:20px;*/
}

.product-item-detail-slider-container.popup button.slick-prev {
	top: -10px;
}

.product-item-detail-slider-container.popup button.slick-next {
	bottom: -10px;
}



/* Slider Mobile*/
/*@media (max-width: 767px){*/
/*.product-item-detail-slider-container.popup .product-item-detail-slider-images-container{ right: 0;}*/
/*.product-item-detail-slider-container.popup .product-item-detail-slider-block{*/
/*height:calc(100vh - 111px);*/
/*padding-top:0;*/
/*}*/

/*.product-item-detail-slider-container.popup .product-item-detail-slider-image{*/
/*width:90%;*/
/*}*/

/*.product-item-detail-slider-container.popup .product-item-detail-slider-image img{*/
/*width:auto;*/
/*max-width: 100%;*/
/*cursor: default;*/
/*max-height:calc(100vh - 115px);*/
/*}*/
/*.product-item-detail-slider-container.popup .product-item-detail-slider-controls-block{*/
/*border-left:none;*/
/*border-top:1px solid #d3d3d3;*/
/*position: absolute;*/
/*top: auto;*/
/*right: 0;*/
/*bottom: 0;*/
/*left: 0;*/
/*max-height:111px;*/
/*overflow-x: auto;*/
/*white-space: nowrap;*/
/*}*/
/*.product-item-detail-slider-container.popup .product-item-detail-slider-controls-image{*/
/*display: inline-block;*/
/*margin-bottom:0;*/
/*}*/
/*.product-item-detail-slider-container.popup .product-item-detail-slider-close{*/
/*right:10px;*/
/*z-index:200;*/
/*}*/

/*.product-item-detail-slider-left,*/
/*.product-item-detail-slider-right{max-width:75px;}*/
/*.product-item-detail-slider-container.popup .product-item-detail-slider-right {right: 0;}*/

/*}*/

/*Label*/
.product-item-label-text,
.product-item-label-ring{
	position: absolute;
	z-index:190;
	opacity: 1;
	-webkit-transition: opacity 450ms ease;
	-moz-transition: opacity 450ms ease;
	-ms-transition: opacity 450ms ease;
	-o-transition: opacity 450ms ease;
	transition: opacity 450ms ease;
}
.product-item-label-text span,
.product-item-label-ring{
	margin-bottom: 2px;
	color: #fff;
	display: inline-block;
	clear: both;
	background: #F42C2C;
	text-align: center;
	vertical-align: middle;
	-webkit-transition: all 250ms ease;
	-moz-transition: all 250ms ease;
	-ms-transition: all 250ms ease;
	-o-transition: all 250ms ease;
	transition: all 250ms ease;
}
.bx-red .product-item-label-text span,
.bx-red .product-item-label-ring{background-color: #fba90c;}
.product-item-label-text > div,
.product-item-label-ring > div{ line-height: 0;}

.product-item-detail-slider-container.popup .product-item-label-text,
.product-item-detail-slider-container.popup .product-item-label-ring{ display: none;}

/* TEXT */
.product-item-label-text span{
	padding:2px 5px;
	font-weight: bold;
	vertical-align: middle;
}
.product-item-label-text.product-item-label-small span{
	line-height: 14px;
	font-size: 13px;
	padding: 2px 7px;
	margin-bottom:1px;
	font-weight: normal;
}
.product-item-label-text.product-item-label-big span{
	line-height: 17px;
	font-size: 13px;
	padding: 4px 10px;
}

@media (max-width: 767px){
	.product-item-label-text>div{ line-height: 0;}

	.product-item-label-text.product-item-label-small span,
	.product-item-scalable-card.hover .product-item-label-text.product-item-label-small span{
		line-height: 14px;
		font-size: 10px;
		padding: 2px 7px;
		margin-bottom:1px;
	}
	.product-item-big-card .product-item-label-text.product-item-label-small span,
	.product-item-label-text.product-item-label-big span,
	.product-item-scalable-card.hover .product-item-label-text.product-item-label-big span{
		margin-bottom:1px;
		line-height: 16px;
		font-size: 14px;
		padding: 3px 12px;
	}
	.product-item-big-card .product-item-label-text.product-item-label-big span{
		line-height: 25px;
		font-size: 20px;
		padding: 3px 12px;
	}
}

/*RING*/
.product-item-label-ring{
	border-radius:50%;
	font-weight: bold;
	box-sizing: border-box;
}
.product-item-label-ring.product-item-label-small{
	width: 40px;
	height:40px;
	line-height: 40px;
	font-size: 14px;
}
.product-item-label-ring.product-item-label-big{
	width: 50px;
	height:50px;
	line-height: 50px;
	font-size: 18px;
}

@media (max-width: 767px){
	.product-item-label-ring.product-item-label-small,
	.product-item-scalable-card.hover .product-item-label-ring.product-item-label-small{
		width: 20px;
		height:20px;
		line-height: 20px;
		font-size: 13px;
	}
	.product-item-big-card .product-item-label-ring.product-item-label-small,
	.product-item-label-ring.product-item-label-big,
	.product-item-scalable-card.hover .product-item-label-ring.product-item-label-big{
		width: 35px;
		height:35px;
		line-height: 35px;
		font-size: 12px;
	}
	.product-item-big-card .product-item-label-ring.product-item-label-big{
		width: 70px;
		height:70px;
		line-height: 70px;
		font-size:24px;
	}
}

.product-item-label-top   { top:   -5px;}
.product-item-label-center{ left:  50%;
	-webkit-transform: translateX(-50%);
	-moz-transform: translateX(-50%);
	-ms-transform: translateX(-50%);
	-o-transform: translateX(-50%);
	transform: translateX(-50%);
}
.product-item-label-center>div{ text-align: center;}
.product-item-label-left  { left:  -5px;}
.product-item-label-left>div{ text-align: left;}
.product-item-label-bottom{ bottom:-5px;}
.product-item-label-middle{ top:   50%;
	-webkit-transform: translateY(-50%);
	-moz-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	-o-transform: translateY(-50%);
	transform: translateY(-50%);
}
.product-item-label-right { right: -5px;}
.product-item-label-right>div{ text-align: right;}
.product-item-label-center.product-item-label-middle{
	-webkit-transform: translateY(-50%) translateX(-50%);
	-moz-transform: translateY(-50%) translateX(-50%);
	-ms-transform: translateY(-50%) translateX(-50%);
	-o-transform: translateY(-50%) translateX(-50%);
	transform: translateY(-50%) translateX(-50%);
}

.product-item-label-center.action {
	width: 59px;
	height: 60px;
	background-color: #dd4473;
	left: 25px;
	top: 0;
	transform: none;
}

.product-item-label-center.action span {
	background-color: transparent;
	margin-top: 17px;
}

.product-item-label-center.action:after {
	content: '';
	position: absolute;
	top: 100%;
	left: 0;
	border: 29px solid transparent;
	border-top: 9px solid #dd4473;
	transition: .3s ease-in-out;
}

/* Tabs */
.product-item-detail-tabs-container{
	min-height:60px;
	background: #fff;
	border-bottom:1px solid #ededed;
}
.product-item-detail-tabs-list{
	list-style: none;
	margin: 0;
	padding: 0;
	display: block;
}
.product-item-detail-tabs-list:after{
	content:"";
	clear: both;
	display: table;
}
.product-item-detail-tab{
	float: left;
	min-height:60px;
}

.product-item-detail-tab-link{
	height: 60px;
	display: inline-block;
	position: relative;
	box-sizing: border-box;
	padding:10px 25px;
	-ms-text-overflow: ellipsis;
	text-overflow: ellipsis;
	line-height:45px;
	font-weight: bold;
	font-size:13px;
	text-transform: uppercase;
	color: #039BE5;
	vertical-align: middle;
	-webkit-transition: all 250ms ease;
	-moz-transition: all 250ms ease;
	-ms-transition: all 250ms ease;
	-o-transition: all 250ms ease;
	transition: all 250ms ease;
}
.product-item-detail-tab-link:hover,
.product-item-detail-tab.active .product-item-detail-tab-link{color: #000;}

.product-item-detail-tab-link:after{
	content:"";
	height: 0;
	position: absolute;
	left:  0;
	right: 0;
	bottom:0;
	background: #1485CE;
	-webkit-transition: all 250ms ease;
	-moz-transition: all 250ms ease;
	-ms-transition: all 250ms ease;
	-o-transition: all 250ms ease;
	transition: all 250ms ease;
}
.product-item-detail-tab-link:hover:after,
.product-item-detail-tab.active .product-item-detail-tab-link:after{height: 3px;}
.product-item-detail-tab-link:active:after{height: 6px;}

.product-item-detail-tab-content{padding:25px 0;}
@media (max-width: 991px){
	.product-item-detail-tabs-container{ display: none !important;}
	.product-item-detail-tab-content{ display: block !important;}
}
/*Tab fixed*/
.product-item-detail-tabs-container-fixed{
	position: fixed;
	top:-100px;
	left: 0;
	right: 0;
	z-index:1000;
	background-color: #fff;
	box-shadow: 0 4px 14px 0 rgba(32,54,74,.23);
	-webkit-transition: top 350ms linear;
	-moz-transition: top 350ms linear;
	-ms-transition: top 350ms linear;
	-o-transition: top 350ms linear;
	transition: top 350ms linear;
}

.product-item-detail-tabs-container-fixed{
	min-height:45px;
	background: #fff;
}
.product-item-detail-tabs-container-fixed.active{
	opacity: 1;
	top:0;
}
.product-item-detail-tabs-container-fixed .product-item-detail-tabs-list{
	max-width:1048px;
	margin: 0 auto;
}
.product-item-detail-tabs-container-fixed .product-item-detail-tab{min-height:45px;}
.product-item-detail-tabs-container-fixed .product-item-detail-tab-link{
	height: 45px;
	padding:10px 25px;
	line-height:25px;
}
.bx-touch .product-item-detail-tabs-container-fixed{ display: none !important;}

/*Small Card*/
.product-item-detail-short-card-fixed{
	position: fixed;
	top:-85px;
	left: 0;
	right: 0;
	z-index:1010;
	background-color: #fff;
	box-shadow: 0 4px 14px 0 rgba(32,54,74,.23);
	-webkit-transition: top 220ms linear;
	-moz-transition: top 220ms linear;
	-ms-transition: top 220ms linear;
	-o-transition: top 220ms linear;
	transition: top 220ms linear;
	height:85px;
	box-sizing: border-box;
	padding:7px 0 8px;
}
.product-item-detail-short-card-fixed.active{
	opacity: 1;
	top:0;
}
.product-item-detail-short-card-fixed.active + .product-item-detail-tabs-container-fixed.active{
	top:85px;
}
.bx-touch .product-item-detail-short-card-fixed{ display: none !important;}

.product-item-detail-short-card-fixed .product-item-detail-short-card-content-container{
	max-width:1048px;
	margin: 0 auto;
}
.product-item-detail-short-card-content-container table{
	border-collapse: collapse;
	min-width:100%;
}

.product-item-detail-short-card-image{
	vertical-align: middle;
	text-align: left;
	width:80px;
	padding-right:15px;
}
.product-item-detail-short-card-image img{
	height: 65px;
	max-width: none;
}
.product-item-detail-short-title-container{
	max-width: 650px
}

.product-item-detail-short-title-text{
	display: block;
	font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size:16px;
	color: #000;
	-ms-text-overflow: ellipsis;
	text-overflow: ellipsis;
}
.product-item-detail-short-card-price{
	text-align: right;
	vertical-align: middle;
	padding:0 10px;
}
.product-item-detail-short-card-btn{
	padding-left:10px;
	min-width:120px;
}

/*Properties */
.product-item-detail-tab-content{ display: none;}
.product-item-detail-tab-content.active{display: block;}

.product-item-detail-tab-content h3{
	font-size:14px;
	font-weight: bold;
	margin-bottom:10px;
}



.bx-catalog-element .complect_box .element_dop_bloc .info_box .prop_box .jq-selectbox {
	font-family: "Arimo" !important;}

.bx-catalog-element .complect_box .element_dop_bloc .info_box .prop_box .jq-selectbox__select {
	height: auto;
	padding: 0 20px 0 3px;
	border: 0;
	font-size: 12px;
}

.bx-catalog-element .complect_box .element_dop_bloc .info_box .prop_box .jq-selectbox__select-text {
	display: inline-block;
	width: 100%;
	line-height: normal;
	color: #6290c3;
	border-bottom: 1px dashed;
	transition: ease-out .3s;
}

.bx-catalog-element .complect_box .element_dop_bloc .info_box .prop_box .jq-selectbox__select-text:hover {
	color: #365d88;
	border-bottom-color: transparent;
}

.bx-catalog-element .complect_box .element_dop_bloc .info_box .prop_box .jq-selectbox__select-text:active {
	color: #23476f;
	border-bottom-color: transparent;
}

.bx-catalog-element .complect_box .element_dop_bloc .info_box .prop_box .jq-selectbox__trigger-arrow {
	-webkit-background-size: 7px;
	background-size: 7px; }

.bx-catalog-element .complect_box .element_dop_bloc .info_box .prop_box .jq-selectbox__trigger {
	width: 20px;}

.bx-catalog-element .complect_box .element_dop_bloc .info_box .prop_box * {
	display: inline-block;
	vertical-align: middle;}

.bx-catalog-element .complect_box .element_dop_bloc .info_box .prop_box .jq-selectbox__dropdown {
	top: 25px !important;
	font-size: 12px !important;
	border: 0;
	background: none;}

.bx-catalog-element .complect_box .element_dop_bloc .info_box .prop_box .jq-selectbox li {
	height: auto;
	padding: 5px;
	transition: ease-out .3s;
}

.bx-catalog-element .complect_box .element_dop_bloc .info_box .prop_box .jq-selectbox li:active {
	color: #6290c3;
}

.bx-catalog-element .complect_box .element_dop_bloc .info_box .prop_box .jq-selectbox__dropdown:after {
	content: '';
	position: absolute;
	bottom: 100%;
	left: 0;
	right: 0;
	margin: auto;
	border: 10px solid transparent;
	border-bottom: 5px solid #fff;
	width: 10px;}

.bx-catalog-element .complect_box .element_dop_bloc .info_box .prop_box .jq-selectbox ul {
	padding: 3px;
	background: #fff;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);}

.bx-catalog-element .complect_box .element_dop_bloc .input_box label.radio {
	border: 1px solid #8ab75a;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	border-radius: 50%;}

.bx-catalog-element .complect_box .element_dop_bloc .input_box label.checkbox {
	border: 1px solid #6290c3;
	-webkit-border-radius: 0% !important;
	-moz-border-radius: 0% !important;
	border-radius: 0% !important;}

.bx-catalog-element .complect_box .content_hiden_block button.slick-arrow {
	text-indent: -9999px;
	position: absolute;
	border: 0;
	background-color: transparent;
	-webkit-background-size: cover;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	top: 0;
	bottom: 0;
	margin: auto;
	width: 20px;
	height: 20px;
	outline: none;
	cursor: pointer;
	opacity: .5;
	transition: .2s ease-in-out;
}

.bx-catalog-element .complect_box .content_hiden_block button.slick-arrow.slick-disabled,
.bx-catalog-element .complect_box .content_hiden_block button.slick-arrow.slick-disabled:hover {
	opacity: .2;
	cursor: default;
}

.bx-catalog-element .complect_box .content_hiden_block button.slick-arrow:hover {
	opacity: 1;
}

.bx-catalog-element .complect_box .content_hiden_block button.slick-prev {
	background-image: url(images/slider_arrow_left.svg);
	left: -30px;
}
.bx-catalog-element .complect_box .content_hiden_block button.slick-next {
	background-image: url(images/slider_arrow_right.svg);
	right: -30px;
}

.preview_img {
	display: none;
	position: absolute;
	width: auto;
	height: auto;
	min-height: 100px;
	min-width: 100px;
	border: 1px solid rgba(0, 0, 0, 0.2);
	top: 125px;
	z-index: 1000;}

.preview_img span {
	background-color: #fff;
	display: block;
	width: 20px;
	height: 20px;
	position: absolute;
	transform: rotate( 45deg );
	-moz-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	-webkit-transform: rotate(45deg);
	-o-transform: rotate(45deg);
	float: right;
	border-top: 1px solid rgba(0, 0, 0, 0.2);
	border-right: 1px solid rgba(0, 0, 0, 0.2);
	z-index: -2;
	top: -10px;
	left: 20px;}

.bx-catalog-element .complect_osn_box {
	margin-top: 10px;
}

.bx-catalog-element .complect_box .element_dop_bloc .img_box .preview_img {
	top: 0px;
	left: 115px;}

.bx-catalog-element .complect_box .recomend .doprectovar-list .preview_img {
	right: 110px;}

.bx-catalog-element .complect_box .element_dop_bloc .img_box .preview_img span {
	top: 35px;
	left: -11px;
	border-top: 0;
	border-right: 0;
	border-bottom: 1px solid rgba(0, 0, 0, 0.2);
	border-left: 1px solid rgba(0, 0, 0, 0.2);
}

.preview_img-box {
	display: table-cell;
	vertical-align: middle;
	background: #fff;
	padding: 5px;}

.preview_img-box img {
	float: left;
	vertical-align: middle;
	max-width: 250px;
	max-height: 250px;}

.section_name, .section_name span  {
	cursor: pointer;}

.section_name span,
.section_name i,
.prop_group_title span {
	display: inline-block;
	vertical-align: middle;}


.prop_group_title i,
.detail_text_box__title i {
	display: none;}

.section_name i,
.prop_group_title i,
.detail_text_box__title i {
	width: 15px;
	height: 15px;
	background-image: url(images/arrow_down.svg);
	background-size: 10px;
	background-repeat: no-repeat;
	background-position: center;
	margin-left: 5px;
	transition: .2s ease-in-out;}

.open_list .section_name i,
.open_list .prop_group_title i,
.open_list .detail_text_box__title i {
	transform: rotate(-180deg);}



.bg_niz {
	display: block;
	width: 100%;
	position: relative;
	top: 0;
	z-index: 1;
	height: 10px;
	background: #fff;
}

.bottom_padding {
	/*padding-bottom: 20px;*/
	width: 100%;
	height: 1px;
}

.bg_niz2 {
	background: none repeat scroll 0 0 rgba(0, 0, 0, 0) !important;
	box-shadow: none;
	height: 23px;
	border-radius: 3px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	-khtml-border-radius: 3px;
	/*display: none;*/
	position: absolute;
	width: 100%;
	z-index: 99;
}

.sticky .bg_niz2,
.stop .bg_niz2 {
	box-shadow: 0 12px 15px -13px #333 inset;
	-webkit-box-shadow: 0 12px 15px -13px #333 inset;
	-moz-box-shadow: 0 12px 15px -13px #333 inset;
}

/*.detail_text_box {*/
/*text-align: justify;}*/

.detail_text_box__title span {
	display: inline-block;
	vertical-align: middle;}

.detail_text_box__title {
	font-size: 14px;
	text-transform: uppercase;
	font-weight: 700;
	padding-bottom: 7px;
}

.detail_text_box .description {
	padding-top: 10px;
	line-height: 1.5;}

.bx-catalog-element .product-item-right .phone__block {
	margin: 25px auto;
	width: 250px;
	height: 250px;
	position: relative;
}

.bx-catalog-element .product-item-right .phone__block-box {
	display: table-cell;
	vertical-align: middle;
	width: 250px;
	height: 250px;
	text-align: center;
}

.bx-catalog-element .product-item-right .phone__block .text_box {
	position: relative;
	z-index: 50;}

.bx-catalog-element .product-item-right .phone__block .text {
	font-size: 18px;}

.bx-catalog-element .product-item-right .phone__block  .phone-num {
	color: #000;
	font-weight: 900;
	font-size: 24px;
	display: block;
	margin-top: 15px;
}

.bx-catalog-element .product-item-right .phone__block span.square_big {
	position: absolute;
	width: 150px;
	height: 150px;
	border: 3px solid rgba(98, 144, 195, .5);
	top: 0;
	bottom: 0;
	right: 0;
	left: 0;
	margin: auto;
}

.bx-catalog-element .product-item-right .phone__block span.square_top {
	position: absolute;
	width: 50px;
	height: 50px;
	top: 25px;
	right: 25px;
	background-color: #fff9ed;
}

.bx-catalog-element .product-item-right .phone__block span.square_bot {
	position: absolute;
	width: 50px;
	height: 50px;
	bottom: 25px;
	left: 25px;
	background-color: #f2f7ec;
}

/*.prosmotr-carousel .product-item-container {*/
/*height: 300px;*/
/*}*/



.bx-catalog-element .top_prop_box a .hint,
.bx-catalog-element .prop_link .hint {
	opacity: 0;
	visibility: hidden;
	color: #000;
	background-color: #fef3de;
	position: absolute;
	padding: 5px 10px;
	z-index: 100;
	width: 200px;
	right: 0;
	bottom: 25px;
	font-size: 12px;
	text-align: center;
}


.bx-catalog-element .top_prop_box a .hint:after,
.bx-catalog-element .prop_link .hint:after,
.open_hint .hint:after {
	content: '';
	position: absolute;
	top: 100%;
	right: 19px;
	border: 6px solid transparent;
	border-top: 8px solid #fef3de;
	width: 10px;
}

.bx-catalog-element .top_prop_box a:hover .hint,
.bx-catalog-element .prop_link:hover .hint {
	opacity: 1;
	visibility: visible;
}

.open_hint .hint {
	opacity: 0;
	visibility: hidden;
	color: #000;
	background-color: #fef3de;
	position: absolute;
	padding: 5px 10px;
	font-size: 12px;
	font-weight: 100;
	text-align: center;
	z-index: 100;
	width: 260px;
	/*left: -20px;*/
	/*top: 35px;*/
}

.open_hint .hint:after {
	border: 6px solid transparent;
	border-bottom: 8px solid #fef3de;
	top: initial;
	right: initial;
	/*left: 23px;*/
}

.open_hint:hover .hint,
.open_hint:hover .hint {
	opacity: 1;
	visibility: visible;
}

.lable_detail_box {
	display: block;
	position: absolute;
	top: 10px;
	right: 0;
	width: 65px;
}


.lable_detail_box .product-item-label-discount_detail,
.lable_detail_box .product_deteil_label {
	display: block;
	position: relative;
	padding: 5px 0;
	margin-bottom: 5px;
	width: 75px;
	height: 35px;
	color: #fff;
	z-index: 80;
	font-size: 18px;
	text-align: center;
	background-size: 100%;
	text-transform: uppercase;
}

.lable_detail_box .product_deteil_label {
	font-size: 12px;
	padding: 10px 0;}

.lable_detail_box .product-item-label-discount_detail {
	background-color: #90b768;}

.lable_detail_box .best {
	background-color: #6290c3;}

.lable_detail_box .akciya {
	background-color: #d33a69;}

.lable_detail_box .ucenka {
	background-color: #fbc73a;}

.lable_detail_box .new {
	background-color: #26cada;}


.lable_detail_box .product-item-label-discount_detail:after,
.lable_detail_box .product_deteil_label:after {
	content: "";
	position: absolute;
	height: 0;
	width: 0;
	right: 0;
	bottom: -10px;
	border-right: 10px solid transparent;
	border-top: 10px solid transparent;
}

.lable_detail_box .product-item-label-discount_detail:after {
	border-top-color: #6f9646;}

.lable_detail_box .best:after {
	border-top-color: #42658c;}

.lable_detail_box .akciya:after {
	border-top-color: #bd5071;}

.lable_detail_box .ucenka:after {
	border-top-color: #c49f39;}

.lable_detail_box .new:after {
	border-top-color: #3fa2ab;}

.product-item-left .popup .lable_detail_box{
	display: none;
}

/*дополнительный товар дополнительного товара*/

.box__element_ocn_block .doprectovar-list  .mego_box  {
	margin-left: 40px;
}

.box__element_ocn_block .doprectovar-list  .mego_box > .section_name {
	display: block !important;
	border-color: #cacaca !important;
}

.box__element_ocn_block .doprectovar-list  .mego_box .doptovarbox {
	margin-left: 0;
}

.bx-catalog-element .complect_box .recomend .hint {
	display: none;
}

.bx-catalog-element .complect_box .recomend .container-dop .mego_box:first-child .element_ocn_block:first-child .element_dop_bloc:nth-child(2) .hint {
	display: block;
    top: 35px;
}

.bx-catalog-element .complect_box .recomend .container-dop .mego_box:first-child .element_ocn_block:first-child .element_dop_bloc:nth-child(2) .hint:after {
    left: 23px;}

.product-item-detail-pay-block .not-quantity{
	text-align: center;
	background-color: #f4f4f4;
	line-height: 1.5;
	padding: 7px 15px;
	color: #fe3153;
}