ul.osn_box_menu {
    background-color: #f3f9ff;
    width: 100%;
    min-height: 100%;
    cursor: pointer;
}

ul.osn_box_menu li.osn_menu_li .submenu_box::-webkit-scrollbar {
    width: 2px;
    background-color: transparent;
    border: 0;
}

ul.osn_box_menu li.osn_menu_li .submenu_box::-webkit-scrollbar-thumb {
    background-color: rgba(88, 128, 172, .5);
}

ul.osn_box_menu li.osn_menu_li .submenu_box,
.sub_menu_catalog-in-box {
    position: absolute;
    top: 0;
    left: 100%;
    width: 100%;
    height: auto;
    visibility: hidden;
    background-color: #fff;
    box-shadow: 1px 1px 3px rgba(0,0,0,.2);
    z-index: 0;
    opacity: 0;
    /*overflow-y: scroll;*/
    cursor: pointer;
}

.open ul.osn_box_menu li.osn_menu_li:hover .submenu_box,
.open ul.osn_box_menu li.osn_menu_li.p_select .submenu_box {
    visibility: visible;
    opacity: 1 !important;
}

/*ul.osn_box_menu li.osn_menu_li.p_select .submenu_box {*/
    /*visibility: visible;*/
    /*opacity: 1;*/
    /*z-index: 0;*/
/*}*/


ul.osn_box_menu li.osn_menu_li a {
    display: block;
    color: #1e1e1e;
    position: relative;
    line-height: 1.3;
    font-weight: 100;
    padding: 11px 15px;
    opacity: 1;
    background: 0 0;
    font-size: 14px;
    border: 0;
    -webkit-transition: .3s ease-out;
    transition: .3s ease-out
}

ul.osn_box_menu li.osn_menu_li i.root-menu-open {
    display: block;
    border: 5px solid transparent;
    border-left: 6px solid #6290c3;
    width: 10px;
    position: absolute;
    right: 5px;
    top: 16px
}

.open ul.osn_box_menu li.osn_menu_li {
    position: relative;
}

.open ul.osn_box_menu li.osn_menu_li:hover a.osn_menu_li-link,
.open ul.osn_box_menu li.osn_menu_li.p_select a.osn_menu_li-link
/*.catalog-nav-box.open ul.osn_box_menu li.osn_menu_li:first-child a.osn_menu_li-link */{
    opacity: 1;
    background-color: rgba(98, 144, 195, .3)
}

.open ul.osn_box_menu li.osn_menu_li a.osn_menu_li-link:active {
    background-color: #5880ac;
}

ul.osn_box_menu li.osn_menu_li .submenu_box .submenu_box-container {
    position: relative;
    /*min-width: 1020px;*/
}

ul.osn_box_menu li.osn_menu_li ul.sub_menu_catalog_in li {
    padding: 0;}

ul.osn_box_menu li.osn_menu_li ul.sub_menu_catalog_in li a {
    padding: 4px 35px;
    font-size: 12px;
    color: rgba(0, 0, 0, .5);
}

ul.osn_box_menu li.osn_menu_li ul.sub_menu_catalog_in li a:hover {
    color: #6290c3;
    background: 0 0;
}

.sub_menu_catalog-box, ul.sub_podborki_catalog, .tovar_blok {
    display: block;
    float: left;
    width: 100%;
    height: 100%;
    /*padding: 10px 15px;*/
    /*overflow-y: scroll;*/
}

.sub_menu_catalog-box {
    /*width: 475px;*/
}

.sub_menu_catalog-box::-webkit-scrollbar, ul.sub_podborki_catalog::-webkit-scrollbar {
     width: 3px;
     background-color: transparent;
}

.sub_menu_catalog-box::-webkit-scrollbar-thumb, ul.sub_podborki_catalog::-webkit-scrollbar-thumb {
     background-color: rgba(88, 128, 172, .5);
}

ul.sub_menu_catalog {
    display: inline-block;
    width: 100%;
    vertical-align: top;
}

ul.sub_menu_catalog li {
    position: relative;}

.sub_menu_catalog_in {
    position: relative;
    width: 100%;
    margin: 0;
    border: 0;
    display: none;
}

ul.osn_box_menu li.osn_menu_li a.sub_menu_catalog-link {
    padding-right: 40px;}

ul.sub_menu_catalog li a, ul.sub_podborki_catalog li a {
    /*display: block;*/
    /*padding: 5px 15px;*/
    /*color: #6290c3;*/
}

ul.osn_box_menu li.osn_menu_li a.open_top-menu {
    width: 40px;
    position: absolute;
    right: 0;
    top: 0;
    display: block;
    height: 40px;
}

ul.osn_box_menu li.osn_menu_li i.in-menu {
    position: absolute;
    border: 5px solid transparent;
    display: inline-block;
    border-top: 6px solid #6290c3;
    top: 17px !important;
    right: 10px !important;
    transition: ease-out .3s;
}

ul.osn_box_menu li.osn_menu_li li.opened-list_menu-in i.in-menu {
    border: 5px solid transparent !important;
    border-bottom: 6px solid #6290c3 !important;
    top: 12px !important;
}

ul.sub_podborki_catalog li a {
    border-left: 2px solid #8ab75a;
    text-decoration: underline;
    padding-left: 25px;
}

ul.sub_menu_catalog li:hover a {
    /*text-decoration: underline;*/
    color: #6290c3;
    /*color:  #365d88;*/
}

ul.sub_menu_catalog li:active a {
    /*text-decoration: underline;*/
    /*color: #6290c3;*/
    color:  #23476f;
}

ul.sub_podborki_catalog li:hover a {
    text-decoration: none;
    color: #6290c3;
}

.tovar_blok {
    overflow: visible;
    position: relative;
}

.tovar_blok .title_box {
    font-size: 14px;
    text-align: center;
    margin: 10px 0;
}

.tovar_box .product-item-container .product-item:before {
    display: none;}

.tovar_box .product-item-container .product-item, .tovar_box .product-item-container .product-item:hover {
    /*box-shadow: none;*/
    padding: 0;
}


.tovar_box .product-item-container .product-item-image-wrapper {
    padding-top: 85%;
}

.tovar_box .product-item-container .product-item .product-item-image-img {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.tovar_box .product-item-price-container {
    margin: 5px 0;
}

.tovar_box:hover .product-item-container .product-item-title {
    /*text-decoration: underline;*/
}