.brend-block,
.category-block {
    padding: 0 35px;
}

.brend-block .owl-stage-outer,
.category-block .owl-stage-outer {
    z-index: 10;
}

.brend-block.owl-carousel .owl-nav,
.category-block.owl-carousel .owl-nav {
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    width: 100%;
    z-index: 0;
}

.brend-block.owl-carousel .owl-nav .owl-next,
.category-block.owl-carousel .owl-nav .owl-next {
    right: -3px;
}

.brend-block.owl-carousel .owl-nav .owl-prev,
.category-block.owl-carousel .owl-nav .owl-prev {
    left: 13px;
}

.brend-block a.brend-item {
    display: block;
}

.brend-block .brend-item-img {
    padding: 15px;
}

.brend-block .brend-item-img .img-box {
    position: relative;
    width: 100%;
    padding-top: 50%;
    height: 0;
}

.brend-block .brend-item-img .img-box .img {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}