.favorite-container .box-top {
	position: relative;
}

.favor-delete-btn {
	display: block;
	position: absolute;
	right: 0;
	height: 20px;
	bottom: 0;
	top: 0;
	margin: auto;
	color: #6290c3;
	transition: ease-out .3s;
}

.favor-delete-btn span {
	cursor: pointer;
}

.favor-delete-btn:hover {
	/*text-decoration: underline;*/
	color: #365d88;
}

.favor-delete-btn:active {
	color: #23476f;
}

.favorite-container .catalog_section_option_bolock {
	margin: 15px 0 30px;
}

.favorite-element-container .elemrnt_box {
	position: relative;
	width: 23.5%;
	display: block;
	float: left;
	margin-right: 2%;
	margin-bottom: 20px;
}

.favorite-element-container .elemrnt_box:nth-child(4n) {
	margin-right: 0;
}

.favorite-element-container .elemrnt_box:hover {
	box-shadow: 0 0 5px rgba(98,144,195,.5);
}

.favorite-element-container .elemrnt_box .product-item-container {
	width: 100%;
	font-size: 14px;
	padding: 0 !important;
}

.favorite-element-container .elemrnt_box .product-item-container .product-item {
	padding: 0;
}

.favorite-element-container .elemrnt_box .product-item-container .product-item-box {
	padding-top: 30px;
}

.favorite-element-container .elemrnt_box .elem-delete {
	position: absolute;
	right: 10px;
	top: 10px;
	width: 20px;
	height: 20px;
	z-index: 100;
}

.favorite-element-container .elemrnt_box .elem-delete span {
	position: relative;
	display: block;
	width: 100%;
	height: 100%;
	cursor: pointer;
}

.favorite-element-container .elemrnt_box .elem-delete span:after,
.favorite-element-container .elemrnt_box .elem-delete span:before {
	content: '';
	display: block;
	position: absolute;
	top: 9px;
	width: 100%;
	height: 2px;
	background-color: rgba(0, 0, 0, .3);
	transition: .2s ease-in-out;
}

.favorite-element-container .elemrnt_box .elem-delete span:after {
	transform: rotate(45deg);
}
.favorite-element-container .elemrnt_box .elem-delete span:before {
	transform: rotate(-45deg);
}

.favorite-element-container .elemrnt_box .elem-delete:hover span:after,
.favorite-element-container .elemrnt_box .elem-delete:hover span:before {
	background-color: #000;
}

.favorite-element-container .elemrnt_box .elem-delete:active span:after,
.favorite-element-container .elemrnt_box .elem-delete:active span:before {
	transform: scale(.8);
}

.favorite-element-container .elemrnt_box .elem-delete .hint {
	width: 150px;
	top: -34px;
	right: -15px;
}

.favorite-element-container .elemrnt_box .elem-delete .hint:after {
	border: 6px solid transparent;
	border-top: 8px solid #fef3de;
	top: 100%;
}

.favorite-element-container .elemrnt_box .item_lable_blck {
	top: 10px;
}